[2013-05-20 07:11] mNantern opened #1 "Add support for utf-8"
If I add a todo with accent in it I can no longer save my todo.txt.

Pushing "save" when exiting QTodoTxt will result in a lose of my todo.txt

[2013-05-20 07:14] mNantern opened #2 "Write a quick documentation"
At least a README and some wiki pages:
-Install on Windows/Linux
-How to use
-How to help
-...

[2013-05-20 07:18] mNantern opened #3 "Add support for due date"
Add the support of due date in QTodoTxt:

Something like that:
- Adding a due date by using: due:YYYY-mm-dd
- When the task is in less than 1 week color the due date in orange
- When the task is for today color it in red

[2013-05-20 07:20] mNantern opened #4 "Provide package for Ubuntu"
Automatic installation is always better

[2013-05-20 07:22] mNantern opened #5 "Provide automatic installer for Windows"
Provide an executable for Windows.

Question: how-to manage dependencies in Windows ?

[2013-05-20 07:58] mNantern opened #6 "Make a link with url"
When an url is present in a task we must be able to click on it and open a browser

[2013-05-20 08:26] #1 closed, assigned to mNantern

[2013-05-20 17:01] #6 closed, assigned to mNantern

[2013-05-21 17:05] #3 closed, assigned to mNantern

[2013-05-22 17:51] mNantern opened #7 "No menu on Ubuntu 13.04"
No menu when running on Ubuntu 13.04:

![capture_bug](https://f.cloud.github.com/assets/1544226/550080/382fd180-c308-11e2-93cd-c5d7eacf0f35.png)

[2013-05-23 16:51] #7 closed, assigned to mNantern

[2013-05-27 15:52] #4 closed, assigned to mNantern

[2013-05-27 20:04] mrrrau opened #8 "(Auto)appending creation date"
Would be very nice :calendar: :smile:

[2013-05-28 08:04] mrrrau opened #9 "Filtering by no context or no project assigned"

[2013-05-29 06:06] #2 closed, assigned to mNantern

[2013-05-29 13:45] #8 closed, assigned to mNantern

[2013-05-29 14:32] #9 closed, assigned to mNantern

[2013-05-31 07:14] #5 closed, assigned to mNantern

[2013-06-10 06:49] mNantern opened #10 "Windows: memory cannot be written"
An error is raised when I close QTodoTxt on Windows if I have a task with context or project:

![error_windows](https://f.cloud.github.com/assets/1544226/630214/b8fdce3a-d199-11e2-9357-2dc69c7ccd2f.png)

python: 2.7.5
pyside: 1.1.2

[2013-06-10 06:54] mNantern opened #11 "Selected task on the tasks list are not very readable."
Black on dark blue is not very readable on Windows

[2013-06-17 19:56] mrrrau opened #12 "Hiding Application to system tray"
I would like to be able to minimize main window to the tray. There is an icon in the tray now so I think it would not be to hard to implement it.

[2013-06-18 13:16] #11 closed, assigned to mNantern

[2013-06-19 07:31] #10 closed, assigned to mNantern

[2013-06-30 18:49] mNantern opened #13 "Automatically archive completed tasks"
Adding a preference to automatically archive completed tasks in a file named "done.txt"

[2013-08-01 19:37] mNantern opened #14 "Strike done task"
When a task is done, strike the text.

[2013-08-01 19:46] mNantern opened #15 "Autocomplete doesn't work when adding a priority to an existing task"
When adding a priority to an existing task, autocomplete does not add priority at the beginning of the task.

[2013-08-02 06:55] mNantern opened #16 "Add an option to save automatically modified tasks"
Add an option to save every minute all unsaved tasks

[2013-08-03 13:27] #14 closed, assigned to mNantern

[2013-08-05 14:45] #16 closed, assigned to mNantern

[2013-08-07 12:44] #13 closed, assigned to mNantern

[2013-08-13 09:51] #15 closed, assigned to mNantern

[2013-08-15 20:27] alexandermut opened #17 "shortcut for new task"

[2013-08-15 20:27] alexandermut opened #18 "search"

[2013-08-16 18:29] #17 closed, assigned to nobody

[2013-08-26 12:57] oroszgy opened #19 "One should be able to edit a task"
It is not possible to edit a previously created task. It is an essential feature.

[2013-08-27 19:58] #19 closed, assigned to nobody

[2013-09-01 18:52] alexandermut opened #20 "auto sort of @context and +project trees"

[2013-09-01 20:36] mNantern opened #21 "Add new tree filter by due date"
I used due date a lot (with "due:2013-10-01" for example) and it will be nice to have a new section on the left tree. Something like:

* Due
  * Today
  * Tomorrow
  * Later

[2013-10-05 20:00] mNantern opened #22 "Save todo.txt only when a task is modified ou created"
Currently we save data every 10 seconds. It's useless and can cause issue if we run QTodoTxt on 2 different computers at the same time

[2013-10-06 20:14] mNantern opened #23 "Build a package for Mac Os X"
I just got a MacBook Pro for my work and QTodotxt is working quite well on it. But it's a little tough to make it work.

A package will be more user-friendly !

[2013-10-14 06:57] ded38fr opened #24 "Add an option to change font size and name"
This can help users with big screens.

[2013-11-21 22:48] sciafri opened #26 "Automatically add date completed to completed tasks"
Just as you have done so for created date, could you also create an option to add the current date to completed tasks?

[2013-12-08 20:47] #26 closed, assigned to nobody

[2013-12-13 20:55] sttrebo opened #28 "number of items"
would it be possible to have a small counter that would reflect the number of tasks that are filtered?  unfortunately i have way too many tasks and somethimes i'd like to get a quick count of what's on my plate.,

thanks

[2013-12-20 21:40] mNantern opened #29 "Mac Os X: "Enter" touch doesn't edit a task"
Strange but when I press the "enter" touch it does not edit a task...

[2014-01-02 13:35] chaghi opened #31 "Make the creation date less prominent"
I find the creation date at the beginning of a task very distracting. I know that the todo.txt format dictates that the creation date must be placed there for sorting reasons, but I think that at the UI level, it would be nice if the date was moved to the end, or diminished somehow (another font? another color?).

Even the official _Todo.txt Touch_ application from Gina gives the creation date a m

[2014-01-06 22:47] chaghi opened #33 "Error: AttributeError: 'NoneType' object has no attribute 'setText' after removing task"
When removing a task, the item is not removed from the list mantaining the selections, resulting in the following error every time you clic on a different task:

[code]

The error is only shown in the console, and even if it seems to be no side effects, the `_list_itemPressed` handler is not fully completed.

Possible fix: remove the item from the `_oldSelected` list in the `removeTask` method, li

[2014-01-12 18:09] #18 closed, assigned to nobody

[2014-01-12 18:09] #20 closed, assigned to nobody

[2014-01-12 18:09] #28 closed, assigned to nobody

[2014-01-12 18:09] #29 closed, assigned to mNantern

[2014-01-12 18:09] #23 closed, assigned to mNantern

[2014-01-12 18:09] #31 closed, assigned to nobody

[2014-01-13 08:50] mischla opened #35 "Keep old filter after action"
Hi,
with the 1.2 version a behavior was introduced which is IMHO misleading, probably due to the new filter functionality (which is really nice!).

After any action (change/add/delete/complete task) the filter is removed.

Wished behavior: keep old filter after action.

What do you think of this?

Thanks,
Michael

[2014-01-13 11:28] georgecc opened #36 "Crash on Mac"
I downloaded and installed. It crashes when I start it. Details below.

Process:         qtodotxt [12850]
Path:            /Applications/qtodotxt.app/Contents/MacOS/qtodotxt
Identifier:      org.pythonmac.unspecified.qtodotxt
Version:         1.2.0 (1.2.0)
Code Type:       X86-64 (Native)
Parent Process:  launchd [303]
Responsible:     qtodotxt [12850]
User ID:         1429200892

Date/Time:

[2014-01-13 14:39] FabianNo opened #37 "Add autocomplete on filter text"
ATM if you select two items (in projects, contexts,..) in the tree view the results are shown in an "Condition OR Condition" manner.

How about a possibility to allow the user that it is an "AND" condition?

E.g. I select
(at)bug and (plus)HelloWorldProject
it should only show the bugs of HelloWorldProject, not all bugs of all projects and everything in the HelloWorldProject.

[2014-01-14 12:57] bl4ckb1rd opened #38 "ValueError: time data '2014-04' does not match format '%Y-%m-%d'"
No gui warning ...

[code]

[2014-01-19 01:58] pmaker opened #39 "Make search and auto-complete case insensitive"
In v1.2, both text searches and auto-complete are case sensitive.

Changing these two functions to case-insensitive matching would make the searches/auto-complete more reliable and faster, for those of us who are not always consistent with capitalization.

[2014-01-22 20:32] dreuter opened #40 "double-clicking does not open the edit-menu in KDE"
I think it would be very handy if one could double-click on a item to edit it.

[2014-01-25 11:16] MartinLojda opened #41 "Autocomplete from completed tasks"
It would be useful not only list current projects but also projects from completed tasks. Or make it optional in preferences.

[2014-01-25 11:37] #35 closed, assigned to nobody

[2014-01-25 11:52] mNantern opened #42 "Set up Travis CI"
In order to improve the quality of QTodoTxt we need a CI solution to test our commits.

https://travis-ci.org/

[2014-02-01 14:47] #40 closed, assigned to nobody

[2014-02-01 15:00] #38 closed, assigned to nobody

[2014-02-01 16:09] monotasker opened #45 "Improve deb installer"
I love this app. My one frustration at this point is just that the deb package you provide (thanks!) doesn't install properly on my Ubuntu 13.10 machines. I get a warning message that the package is "poor quality". If I override that message the package does install, but it doesn't show up in the applications list for menus, etc. I have to run it from the command line. The first time I ran it that

[2014-02-01 16:13] monotasker opened #46 "Keyboard shortcuts to change priority of selected task"
It would be great if I could change the priority of a task selected in the task list without opening it for editing (just like I can complete it by pressing 'C'). Ideally, one could just press "A", "B", "C", etc. while a task in the task list is highlighted and the priority letter would be changed.

Thanks.

[2014-02-01 16:20] monotasker opened #47 "Allow multiple filter terms"
At present it looks like the filter can only match a single string. It would be great if there were syntax to filter on multiple strings (e.g., comma delimited: @work, +project1, +subproject2). That would make the filtering much more useful for those (like me) who have many tasks and use multiple project tags to divide a project into sub-projects.

Thanks.

[2014-02-01 17:50] #42 closed, assigned to mNantern

[2014-02-07 22:52] #39 closed, assigned to nobody

[2014-02-10 15:09] amunizp opened #48 "windows XP instalation does not work for me"
![windowsxpafterinstall](https://f.cloud.github.com/assets/5783911/2126678/20f8816a-9265-11e3-88ac-28e6cfcbb9db.PNG)

Hello I was able to make it work in the past on XP machines and it might be an issue with this machine. but just in case. It installs with no problems but it just does not run afterwards quoting attached image.

[2014-02-13 21:48] YannisA opened #49 "Crashes on Ubuntu 12.04 (but it worked fine for several days)"
I used qtodotxt for several days on Ubuntu 12.04, no problems, fantastic work.
But, suddenly, I get an error and it does not work anymore (I tried both .deb install and .zip).

prompt$ qtodotxt
Got bus address:  "unix:abstract=/tmp/dbus-QF9xpWYkcU,guid=79c718c0ed600d40e97fc94200000025"
Connected to accessibility bus at:  "unix:abstract=/tmp/dbus-QF9xpWYkcU,guid=79c718c0ed600d40e97fc94200000025"
Re

[2014-02-15 19:54] #46 closed, assigned to nobody

[2014-02-16 10:52] #48 closed, assigned to nobody

[2014-02-16 12:56] #49 closed, assigned to nobody

[2014-02-21 05:52] mNantern opened #50 "Set up GitHub pages for QTodoTxt"
In order to show documentation, news and a download page.

Anyone want to do that task ?

[2014-03-01 20:04] mNantern opened #51 "Rename a context or project globally"
It may be useful to rename a project or a context in the left tree and change the value across all tasks.

[2014-03-03 05:54] h4rrydog opened #52 "QTodoTxt missing menu bar icon OS X"
The menu bar icon that allows you to create a new todo is missing the icon on OS X Mavericks.

![issues mnantern-qtodotxt at 06 52 54](https://f.cloud.github.com/assets/624972/2306818/4e2e17e2-a298-11e3-8a9a-d1d66a72780b.png)
---------------------------^

[2014-03-03 06:13] leepotts opened #53 "Persistent context/project view selection"
After saving edits to a task while working in a specific context or project view, the main window switches to the pending task view. I'd much rather it stayed in the view I was just working in.

[2014-03-03 08:11] #53 closed, assigned to nobody

[2014-03-09 10:04] karlssonilund opened #54 "Can't open existing todo.txt"
I'm on Mavericks and installation went fine but when I try to open my existing todo.txt I first get the Open dialog but when I choose the Dropbox folder a Save as dialog appears. When I cancel the Save as dialog the Open dialog is still there but as soon as I click something it disappears and the Save as dialog pops up again. In other words I'm stuck in a loop and cannot open my file. See attached

[2014-03-11 17:53] #45 closed, assigned to nobody

[2014-03-14 22:08] #54 closed, assigned to nobody

[2014-03-16 13:45] #50 closed, assigned to nobody

[2014-03-23 01:51] Piscean opened #56 "Hide Future Tasks doesn't"
Preferences -> Hide future tasks doesn't have any effect on the list of tasks displayed.

When I check that menu item I expect to only see current and overdue tasks.  Instead, I see the entire list.

[2014-03-23 15:00] #56 closed, assigned to nobody

[2014-03-24 08:30] zemadmat opened #57 "Add date by textual entry"
It would be nice to be able to add dates by textual entry:
today, tomorrow, Friday, next week (Monday next week), next month (1st day of next month), ...

could this be added to a next release ?

Cheers

[2014-03-28 13:24] Gimeit opened #58 "Crashes immediately upon opening - Pickle KeyError?"
I recently updated Python 2.7 and PySide to their latest versions (2.7.6 and 1.2.1 respectively) and now QTodoTxt won't start. The application window disappears immediately upon opening. I ran qtodotxt.pyw from the Python shell and it crashed with the following traceback:

[code]

I admit I'm lost here. I can't seem to find any useful documentation on this particular error. The best I could think

[2014-03-31 16:44] #58 closed, assigned to nobody

[2014-04-02 02:38] dpaner opened #59 "Improve readability of highlighted tasks"
Highlighting a task sets a gradient light blue background on the task with white as the color of the text.  This makes reading the selected task nearly impossible.

Retaining the black text color for a mouse-highlighted task would solve that problem.
# Repro
1.  Click a task
2.  Note the task background changes color
3.  Note the task text is white (light color text on light background)

Note:
Thi

[2014-04-04 22:43] funkyfuture opened #60 "Python3 port?"
ciao,

is there a reason that opposes to port the code to Python 3? or to use the six library to support Python 2& 3? (though i wouldn't see a reason for the latter option.)
if not, i would give it a try.

[2014-04-07 11:15] christoph8728 opened #61 "Adaptive Project/Context List"
It would/could be nice to have an adaptive Project list, meaning only projects are shown which belong in the currently active context. Of course such a feature should be optional.

[2014-04-07 15:02] christoph8728 opened #62 "Switch between "And"/"Or" behavior when entries in tree are selected"
Default seems to be "and" behavior. Would be useful to e.g. select a context and a project and see only tasks that are in both (e.g. "+research" and "@home"), not in either one.

[2014-04-07 15:05] christoph8728 opened #63 "Batch creation of new tasks"
Allow creation of multiple new tasks in the same context/project (for example, see bahavior in Android App Simpletask)

[2014-04-11 21:36] #62 closed, assigned to nobody

[2014-04-14 15:32] radioactive-mc opened #64 "Add "Archive"-Button"
There only seems to be the "Auto-archive" function, but no way to manually archive completed todos

[2014-04-15 20:37] #47 closed, assigned to nobody

[2014-04-17 19:45] mNantern opened #66 "Color only real context, projects and priority"
If your task is like:

+test Do dev+test

Only the first 'test' (the project) should be colored in light blue and not the second (it's not a project just a string).

The issue is in task_htmlizer.py here:

[code]

[2014-04-19 01:22] funkyfuture opened #69 "Keep track of changes and implement an undo-function"
That's nothing important but something for convenience i can think of to implement later on.

[2014-04-20 06:56] #41 closed, assigned to nobody

[2014-04-20 07:38] #33 closed, assigned to nobody

[2014-04-21 19:08] jmmourinhor opened #71 "Remember window size and sidepanel position"
If possible it would be good for the program to remember last used window size and sidepanel division line, or otherwise config a default size in a .cfg file

[2014-04-21 19:11] jmmourinho opened #72 "key to toggle sidebar"
Also great would be to have a shortcut key to toogle on & off the sidebar. Specially useful for users that have the app open as a thin window.

[2014-04-22 09:14] teelicht opened #74 "Crash bug on start"
Hi, I can't start qtodotxt but I get the following error:

Process:         qtodotxt [75187]
Path:            /Applications/qtodotxt.app/Contents/MacOS/qtodotxt
Identifier:      org.pythonmac.unspecified.qtodotxt
Version:         1.3.0 (1.3.0)
Code Type:       X86-64 (Native)
Parent Process:  launchd [297]
Responsible:     qtodotxt [75187]
User ID:         501

Date/Time:       2014-04-22 11:09:20

[2014-04-22 19:46] #74 closed, assigned to nobody

[2014-05-10 19:29] jmmourinho opened #76 "using the opened instance of QTodoTxt when using the --quickadd cli command"
I usually have a window of QTodoTxt open on the side screen, and in the documentation in the Wiki i found out the command:

`-q/--quickadd - opens the add-task dialog and exits the application when done`

So I put a keyboard shortcut in the XFCE settings to add a new task

`qtodotxt --quickadd`

But it opened a new instance of the program beneath the add task dialog, which doensn't look to pretty.

[2014-05-10 19:43] mNantern opened #77 "Add a zen mode"
I use projects and contexts a lot, maybe too much. And sometimes the todo is not enough visible.

So I propose to add a zen mode to just show priority and task. It will be only on the tasks list (filters will still be operational) and of course activated or deactivated by an option.

[2014-05-29 12:06] ng110 opened #78 "more priority levels"
Just discovered todo.txt and QTodoTxt.  After years of trying, finally an electronic todo list that works for me!  The application is close to perfect in its simplicity.  The one thing that would make it better for me would to be to fully support priority levels lower than (C).

Cheers!

[2014-06-24 09:51] mattiasdh opened #79 "QTodo logo freestyling :)"
Hey mNantern!
I don't know if opening an issue is the right way to do this, but I was feeling grateful + procrastinating at work, so I toyed around with some ideas for a logo.
It's just a start, with some bugs in the shadow for example, but if you think it's a good idea, I can continue to develop it a bit further.. :) (I kind of like the 2nd one myself..)

![qtodotxt-512](https://cloud.githubuserc

[2014-06-27 18:20] lbell opened #80 "Hide System Tray (and/or other options)"
Would be great to be able to hide the system tray. At least on Ubuntu 14.04 it is big, out of place, and doesn't do anything.

[2014-06-29 09:43] #60 closed, assigned to nobody

[2014-07-04 11:50] #71 closed, assigned to nobody

[2014-07-04 12:14] #78 closed, assigned to nobody

[2014-07-04 12:15] #36 closed, assigned to nobody

[2014-07-08 12:25] mattiasdh opened #82 "More compact (+smarter) interface"
Hey mNantern,
A lot of the window is occupied by border thickness, especially the middle divider. Here a small comparison with nvAlt (no borders). Could the window be made more compact..?
![qtodo-bordersize](https://cloud.githubusercontent.com/assets/7404318/3509397/415a147e-069a-11e4-9592-d72e911a20c1.jpg)
Also, very cleverly, nvAlt uses the search bar also to create new entries - Two birds with

[2014-07-11 00:49] wtayyeb opened #83 "qtodotxt not working"
Hi. I have installed qtodotxt some days ago and it was working..
but now it doesn't start. so I uninstall it, remove anything related in win-registery and reinstall it. but qtodotxt still doesn't start.
ver: 1.3.0, windows installer
os : windows 7

<pre>
Traceback (most recent call last):
  File "qtodotxt.pyw", line 27, in <module>
  File "qtodotxt\app.pyc", line 6, in <module>
  File "qtodotxt\ui

[2014-07-23 20:12] #52 closed, assigned to nobody

[2014-07-24 21:08] mNantern opened #85 "Create a task with the text filter"
If no result is returned by the text filter we should add a way to create the task.

[2014-07-24 21:10] #82 closed, assigned to nobody

[2014-07-25 11:11] mimmori opened #86 "new extensions - Recurrence"
It would be great to have the recurrence extension like simpletask for android!
(https://github.com/bram85/todo.txt-tools/wiki/Recurrence)

[2014-08-02 18:19] cjrobe opened #87 "Create custom filters"
I would love to be able to create custom filters with multiple projects and/or context.

Example: "+house +beforevacation"

Maybe an easy way to add this feature in would be a + next to the search box where you could create a custom filter from this search.

Thanks!

[2014-08-02 18:20] cjrobe opened #88 "Quick create similar"
I think there should be an option "create new task based on selected"

So if you're viewing your shopping list, it would automatically add +shopping when you press insert to create a new task. If you're viewing all the tasks, it wouldn't add anything. Would be great for adding lots of similar tasks at once.

[2014-08-11 12:13] Karashnaho opened #89 "BUG Decrease Priority (C) tasks using - key removes priority altogether"
On PC Win 8.1
version 1.3.0

Click Select a Task with priority (C) in the right hand panel
Press the minus (-) Key
Priority removed from task.

Other priorities seem to work ok

[2014-08-11 12:23] Karashnaho opened #90 "Increase the priority of a task with no priority makes it a priority (C) task"
Win 8.1
V 1.3.0

[2014-08-11 19:12] #89 closed, assigned to nobody

[2014-08-11 19:13] #90 closed, assigned to nobody

[2014-08-11 19:29] #22 closed, assigned to mNantern

[2014-08-13 13:22] johnwin opened #91 "Difficult to read selected tasks"
when a task is selected in the main viewing window the task text turns from black to white. This is very difficult to read. The Context remains green, the Project remains pale blue and urls remain dark blue. Could the task text also remain black for ease of reading?

[2014-08-13 13:26] johnwin opened #92 "Auto refresh eta?"
Are there plans to add auto-refresh to the app? Thanks.

[2014-08-13 17:47] #91 closed, assigned to nobody

[2014-08-14 19:14] aruizsan opened #93 "order by feature"
Hi. I was wondering if it could be possible to have a new "order by" feature.
For example, I'd like to have my tasks ordered by Priority+ Due Date + Threshold + Name(alphabetically). But someone else could need to have another criteria.
Thanks

[2014-08-16 23:19] funkyfuture opened #94 "implement classes for task components"
the introduction of classes for Context, Project, Priority and maybe Due and Threshold would simplify querying and manipulating of a Task in the current code and requested features.

there would be syntactic sugar like `task.Priority += 1` and global indexes of known Contexts and Projects possible.

here are some examples where such a design would come handy:
#93: depending on how a a generic and

[2014-08-17 16:18] funkyfuture opened #95 "solely URLs are not parsed properly"
if there is a Task that consists of nothing else than an URL, that url will not be html'ized.

i think later this evening i can fix that.

[2014-08-27 07:55] daducci opened #97 "Multiple todo.txt files"
Hi,

Is there a way to have several todo.txt files in different folders, storing the specific todo list for a given project?

I am a developer, and usually maintain a separate TODO.txt file in each project folder. It would be nice to being able of opening such files with QTodoTxt, as this tool would really simplify the managing of the tasks.

[2014-08-27 08:41] arwer13 opened #98 "Selected task's text badly visible on win7"
Hi!
On Windows 7 (default theme) text of the selected task becomes white and it is almost invisible on light blue background.

[2014-08-30 09:39] #97 closed, assigned to nobody

[2014-08-30 09:47] #98 closed, assigned to nobody

[2014-08-30 15:23] #79 closed, assigned to nobody

[2014-08-30 15:28] #95 closed, assigned to nobody

[2014-09-01 19:18] #59 closed, assigned to nobody

[2014-09-16 08:22] lalthomas opened #100 "ENH - Print todo"
Thank you for this awesome project. I felt more control over my todo.txt file. I have got lot suggestions to improve this project.

It will be great if there is facility to print the selected todo items.

[2014-09-20 15:09] #92 closed, assigned to nobody

[2014-09-24 07:19] sant2000 opened #101 "Edit task window with multiple rows and word wrap"
Firstly I should thank you for the great job you do. I've tried several task tools for Windows that use todo.txt. None of them came close to QTodo txt.

Just one thing I want to request. In QTodo txt 1.3.0 when I click on task I see edit task window that is recisible but single row with no word wrap. If task description is long it's inconvenient to edit. Please add multiple rows and word wrap. Tha

[2014-09-29 07:14] mimmori opened #102 "V1.4 Not run"
I have just intalled the latest release (1.4) on my PC (Windows 7 64bit) and it doesn't run. It closes immediatly without any error or log. I also try to run as administrator but nothing is changed.

[2014-09-29 08:42] johnwin opened #103 "Make a 'portable' version available for Windows?"
Could a portable version be made available for Windows?

At work I live in "IT lock down" so cannot install the Windows version directly.

Currently I have to install the Windows .exe in Bootcamp on my Mac at home and then copy the folder to my work PC. The app (as of 1.3) runs perfectly well like this.

It would be great to have a .zip of a portable version available directly from github.

Thanks

[2014-09-29 18:04] #83 closed, assigned to nobody

[2014-09-30 07:35] mimmori opened #104 "Complex filter use"
I try to use the new complex filter feature on 1.4 version but i am not able. Which is the correct syntax?

[2014-09-30 11:44] mipeazogithub opened #105 "QTodoTxt v1.4.0 doesn't work on openSUSE 13.1"
In openSUSE there isn't any package called python3-pyside except python3-pyside-shiboken, but It doesn't work either.

[2014-10-01 17:36] johnwin opened #106 "v1.40 crashes on mac on opening"
The app crashes as soon as it is launched in OS X (Yosemite Beta 10.10) (I do realize that this is a beta OS and there is no obligation to support it but 10.10 is pretty close to release now)

Process:               qtodotxt [992]
Path:                  /Applications/qtodotxt.app/Contents/MacOS/qtodotxt
Identifier:            org.pythonmac.unspecified.qtodotxt
Version:               1.4.0 (1.4.0)

[2014-10-05 08:00] #104 closed, assigned to nobody

[2014-10-08 11:59] mimmori opened #107 "Right click menu on task"
It would be great to have the right click menu on tasks for run some commands (delete, complete, change priority).

[2014-10-08 14:16] xplora1a opened #108 "FileNotFoundError issue"
It appears that the error code for some OS envirotments is diffrent. I had a problem with this in loading the settings file. This link explains the issue:

http://stackoverflow.com/questions/15032108/pythons-open-throws-different-errors-for-file-not-found-how-to-handle-b

I suggest this change:

[code]

[2014-10-09 04:54] razvanenescu opened #109 "unable to open the .txt file with QTodoTxt if the location is changed"
To replicate - open the application and insert a task; save to a file location.

Move the file location; open the application and use File->Open - QTodoTxt will not be able to see the txt file neither by using the "Text Files" filter or the "All files" filter.

I am using Linux Mint 17 (Ubuntu 14.04) and I installed the application using the ".deb" package you provided.

If I use the system filema

[2014-10-19 06:30] alehandrof opened #110 "Slow on large todo.txt"
Along with my active projects and actions, I keep my someday/maybe list in my todo.txt. This makes for a large file (300+ entries). Working with filtered views in QTodoTxt is fine, but It takes about 5 seconds to show the entire list.

In case it makes a difference, I'm on Ubuntu 14.04.

[2014-10-22 10:57] Nelvin opened #111 "Doesn't work with Python 2.7.8"
I just downloaded the codearchive as I already have installed Python 2.7.8 and PySide but when I try to start it, nothing happens. Using the commandline I get the following error. Any idea if the code could be changed to work using 2.7 again?

Traceback (most recent call last):
  File "D:\Tools\QTodoTxt-master\bin\qtodotxt.pyw", line 28, in <module>
    app.run()
  File "..\qtodotxt\app.py", line

[2014-10-22 11:27] daducci opened #112 ""Open with" independent files"
It would be nice to have the possibility to open specific file by simply double clicking on them. I usually have several .todo text files in my repositories, to share the to-do with other developers. I know there is the "-f" flag but, in Mac for example, when I double click I cannot specify the "-f" flag during the call (or I did't find the way to). I guess it would suffice to simply make the "-f"

[2014-11-13 01:06] BryansGH opened #114 "QToDoTxt won't run -- has File Not Found Error"
Edit added after further work.
I managed to install a working qtodotxt by installing version 1.3 (which worked) and then upgrading to version 1.4.
____________________

I used apt to install qtodotxt from the repository but, when attempting to run, received the error below. I checked and there was no ./qtodotxt.cfg file in the home directory as indicated by the error. Adding an empty file with tha

[2014-11-17 21:26] AnderRasoVazquez opened #115 "Add excluding filter"
I think that we should have **a filter that excludes things**. Maybe next to the filter, another textbox that says something like "exclude". That would be nice for projects like +some_day or similars that you don't need right now.

Another approach are the custom filters (Rhino JavaScript engine) that uses SimpleTask https://github.com/mpcjanssen/simpletask-android. Those would be perfect, because

[2014-11-23 11:28] #102 closed, assigned to nobody

[2014-11-29 16:58] #111 closed, assigned to nobody

[2014-12-07 02:00] Schroedingers-Cat opened #116 "[v1.4] Crash at startup on windows if config file is marked as hidden"
QTodoTxt won't start if it's configuration file is marked as hidden on Windows (only 7 tested). All versions up to v1.4 are affected by this bug. Steps to reproduce:
1. Start QTodoTxt for the first time
2. Configure some stuff like path to your todo.txt etc.
3. Close the application
4. Navigate to %userprofile% and hide the file .qtodotxt.cfg
5. Try to start the application

[2014-12-10 20:14] #110 closed, assigned to nobody

[2014-12-27 09:15] mcandre opened #118 "Publish on Brew Cask"
Could we publish this on [Brew Cask](http://caskroom.io/) to make installation easier? Then users could just `brew cask install qtodotxt`.

[2014-12-29 16:31] cjrobe opened #119 "CSS theming on QTodoTxt"
I just found default.css in C:\Program Files (x86)\QTodoTxt\resources\css\default.css, and was pleased to find I can change the font, font-size, background colors, and other aspects of QTodoTxt.

I don't mind modifying the CSS code, but is there any chance that a simple GUI could be made for theming?

At very least, maybe add a small heading in the user documentation? I see there is some custom CS

[2015-01-01 20:16] mNantern commented on #119
Actually, I added a basic support for css for issue #59 (just for selection-background-color).

But indeed, we can use it more. If you want to write a wiki page about CSS in QTodoTxt I think you can, wiki is public normally.

Thank you !

[2015-01-01 20:23] mNantern commented on #116
Wow, why would you do that ?

Have you something into C:\Users<Username>\AppData\Roaming\QTodotxt\ when you try to run QTodoTxt ? (I don't have a Windows now to test)

Thank you !

[2015-01-01 20:32] mNantern commented on #118
Thanks for the idea !

Do you want to add QTodoTxt to Cask ?

For further reference: https://github.com/caskroom/homebrew-cask/blob/master/CONTRIBUTING.md

[2015-01-01 20:38] mNantern commented on #115
@monotasker added support for OR and AND in issue #47 but we have to add support for NOT indeed.

Using javascript seems to complicate for me.

[2015-01-01 20:41] mNantern opened #120 "Losing focus on filter tree"
Sometimes QTT is losing the selected item in filter tree, switching it back to "Pending".

Annoying...

[2015-01-04 09:50] mNantern opened #121 "Proposal : remove the "auto-save" option"
At first "auto-save" was an option because it wasn't enough tested but now after 3 versions (at least) with it, it seems to work well.

I want to remove the option in File > Preferences and leave it activated by default.

What do you think ?

[2015-01-04 23:04] Schroedingers-Cat commented on #116
QTodoTxt only saves the files `stderr.log` and `stdout.log` to `%appdata%\QTodoTxt`. However, it's configuration file is saved at `%userprofile%`, which corresponds to `C:\Users\SOME_USER\`. So everytime I navigate to my home folder, I see the file `.qtodotxt.cfg` which I really don't want to see there all the time.

I tried hiding the file, but then QTodoTxt won't start. This is the content of th

[2015-01-06 16:18] benjabean1 commented on #121
I vote no.
IMO, giving the users choice is always the best option. Some users may not want auto save.

[2015-01-10 16:37] mNantern commented on #121
Not sure about that, I don't like when a tool has too much options. And if nobody is using it...

[2015-01-12 11:40] jo-tud commented on #21
+1. This would be really great!

[2015-01-12 21:02] funkyfuture commented on #94
well, ```.isMatch``` was solely used by ```Task.filterTasks```.
but i remodeled that:
```Task.tasks_filtered_by``` uses ```filter.matches``` which make as much use of indexes and set operations as possible.
anyhow, ```isMatch``` is still usable for checking a single task.

so, from the test's perspective everything is working now.
but actually, in the UI-tasklist no tasks are shown. (which is a li

[2015-01-12 21:06] jo-tud commented on #21
I implemented this feature. There will be a pull request.

[2015-01-12 21:08] funkyfuture commented on #121
there may be two approaches on that conflict of interests:
- toggle between few 'standard' options with good defaults and 'extended' options
- configure the availability of options (in a config-file and/or via checkboxes)

[2015-01-12 21:10] funkyfuture commented on #114
since my fix is merged, this issue can be closed, right?

[2015-01-13 20:09] mNantern commented on #114
Yep, you are right !
Thanks

[2015-01-13 20:09] #114 closed

[2015-01-13 20:10] mNantern commented on #21
Thanks a lot for the work ! I will look at it this week.

[2015-01-13 21:54] funkyfuture commented on #94
ah, one thing i actually would like to rework here too, would be the filters.
atm, they are not very atomic, some filter on two task-properties.

but that's not necessary with the new api, so you can do this for example:
```Task.tasks_filtered_by([incompleted_tasks_filter, projects_filter(['qtodotxt', 'python-hacking']))```

and one more about the review: some names i used on methods and propertie

[2015-01-19 13:46] mimmori commented on #86
anyone interested?

[2015-01-19 20:59] funkyfuture commented on #86
yeah, i actually wanted to implement this when my (redesign of the `Task`-class)[https://github.com/funkyfuture/QTodoTxt/tree/lib-task] is finished and merged.

[2015-01-20 06:08] #21 closed

[2015-02-02 18:55] aurisnoctis commented on #114
This issue is still present in version 1.4.0 that I downloaded a few minutes ago from using the repository. Until the fix is in the official new version / repository, new users can create the file
`/home/<your user name>/.qtodotxt.cfg`
by hand, and copy the text provided by @baile above inside (entries can later be changed from inside the app via `File > Preferences`). I only adapted `"last_open_f

[2015-02-02 20:06] aurisnoctis opened #127 "[feature] manage recurring tasks"
I think it is a nice idea to integrate recurring tasks as in Simpletask for Android (https://github.com/mpcjanssen/simpletask-android/blob/master/src/main/assets/index.md):

 * By default Simpletask will use the dates in that task to create the recurring task not the date of completion as described in the link. This behaviour can be configured from the settings.
 * The format is described by a reg

[2015-02-03 07:07] mimmori commented on #127
Nice feature! +1

[2015-02-03 11:32] funkyfuture commented on #127
there's [another approach](https://github.com/ginatrapani/todo.txt-cli/wiki/Todo.sh-Add-on-Directory#recur-intelligently-add-recurring-tasks) to this in the list of add-ons for the 'original' `todo.txt`. for long-term compatibility i'd stick to this.

i don't like the idea to configure the behaviour as Simpletask does. but in opposite to the add-on linked above, it's nice to have the recurrence-de

[2015-02-03 11:34] funkyfuture commented on #127
oh, and please look at existing issues before opening a new one: #86

so, there are three more or less different designs proposed/known for this feature.

[2015-02-03 15:10] aurisnoctis commented on #127
Hi @funkyfuture ,

yes, I agree with both: I had seen the add-ons page for todo.txt-cli and recurring tasks, and think it's a good idea not to fork off too much, but also not liking the extra file too much ...

After all, these are "just" add-ons for todo.txt-cli, and not maintained within the todo.txt-cli repository itself as official syntax, so if anyone adapted the `rec:[0-9]+[dwmy]` method as

[2015-02-03 15:19] aurisnoctis commented on #127
I will close this issue now, since #86 by @mimmori is exactly the same idea, with exactly the same wish for implementation as `rec:[0-9]+[dwmy]`.

Sorry again for duplicating! (I'd be grateful for someone told me why my search for 'recur' didn't bring up anything.)

[2015-02-03 15:19] #127 closed

[2015-02-03 15:25] aurisnoctis commented on #86
+1 for both -- recurrence, and the suggested implementation as in Simpletask, storing the information about recurrence within the todo.txt file (instead of a separate file as done by todo.txt-cli add-ons so far)

Thanks to all who contribute to this software. And sorry again for duplicating, still wondering why my issue search for 'recur' didn't bring up this entry.

[2015-02-11 00:00] cjrobe opened #128 "Priority autocompletes anywhere in the task, but only functions at the beginning"
Example: (A) +todo fix muffler

Works and is highlighted and sorted according to priority.

Example: +todo (A) fix muffler

Is not highlighted or sorted according to priority, but if you type a ( in that space, the priority auto-complete box still pops up.

Possible solutions: Either allow priority anywhere in the task, use auto-complete to automatically add it to the beginning, or disable auto-co

[2015-02-11 16:11] cjrobe opened #129 "Priority auto-complete adds unnecessary character when editing priority"
If I have this entry in my tasks:
(A) +todo fix my muffler

And I edit it by replacing the A with a B, the priority auto-complete pops up. If I ignore it and click away, it's OK, but if I accept the auto-complete by clicking it or pressing enter, it adds an extra ending parenthesis like so:

(B) ) +todo fix my muffler

[2015-02-11 16:12] cjrobe commented on #121
Another vote for extended options. Adding an option to enable extended options would only take one menu place, but could hide any number of extended options.

[2015-02-20 14:21] cjrobe opened #130 "Calender picker for due date"
When you type "due:", it would be nice if a basic calendar picker would pop-up to allow you to pick a date. Right now I just look at the Windows calendar and remember the date, but it would be nice for it to be more streamlined.

[2015-02-20 14:36] cjrobe opened #131 "Two feature requests to do with due dates"
Right now due dates take the backburner - they're highlighted but they don't get sorted above tasks with no due dates and there's no way to view tasks that are due soon. I have two to improve the usage of due dates.

1. Due dates are sorted within a priority.
eg1. So something due tomorrow with a priority B would be at the top of all the B priority tasks.
eg2. If there is no priority listed but a

[2015-02-27 12:09] mimmori commented on #129
yes, very annoying behaviour. For now i use a workaround: change priority via +/- key.

[2015-03-06 11:03] sander76 opened #132 "upgrade from 1.3 to 1.4 on windows doesn't work properly"
overwriting my old installation with the 1.4 didn't work. Starting the application resulted in a crash without any message or something.
I renamed the .qtodotxt.cfg to .bak and all worked fine !

[2015-03-09 07:01] mimmori commented on #132
already discussed!

[2015-03-09 07:15] sander76 commented on #132
Okay. Did an issue search. Apparently not good enough.... Thanks.

[2015-03-09 07:15] #132 closed

[2015-03-10 07:22] mimmori commented on #132
you can find it in the closed issue list [V1.4 Not run #102].

Ciao!

[2015-03-25 07:14] mimmori opened #133 "How to start to contribute the project"
Hi , I am writing to ask some details for starting contributing this project.

I am new to python world but I already program in other language ( C / C ++  using VCL and MFC for graphics). I have Studied python language but I am a bit confused about the gui development. I have seen that QTodoTxt use PySide framework so I decided to start here.

- Do you have some general tips or advice to give me?

[2015-03-26 06:05] mNantern commented on #133
For the GUI I do everything by hand with the PySide doc (and a lot of googling !)

I think that the best way to learn python is by practicing it. Take a task and try to solve it, if it's difficult ask for help.
If you want a good book to learn Python I like http://learnpythonthehardway.org/book/

You can use the Google Groups for QTodoTxt to ask that kind of question: https://groups.google.com/for

[2015-03-26 06:05] #133 closed

[2015-03-26 12:13] andcoz commented on #121
At least one user does not want the "auto-save": I.
Please, keep it optional.

[2015-03-26 12:22] cjrobe commented on #129
That is a very helpful tip mimmori, thanks.

[2015-03-26 17:41] mNantern commented on #121
OK si we leave it like that !

Thanks for your comment

[2015-03-26 17:41] #121 closed

[2015-03-26 21:41] funkyfuture commented on #133
i can recommend these books as a good read and reference:
- Dusty Philip's [Python 3 -OOP](https://www.packtpub.com/application-development/python-3-object-oriented-programming)
- Doug Hellman's [The Python Stamdard Library by Example](http://doughellmann.com/pages/python-standard-library-by-example.html) (though, quiet outdated)
- Mark Lutz' [Python Pocket Reference](http://shop.oreilly.com/produ

[2015-03-27 18:38] funkyfuture opened #134 "Rebase the autocomplete- and duedate-feature related commits"
as I'm currently running tests, i found a non-working one in `test_autocomplete_lineedit.py`. i then stumbled across quiet a mess of commits by @jo-tud. can you please rebase your commits into two, one for the autocomplete-feature, one for the due date-filter?! if you have any questions about the proces, feel free to ask.

therefore, please don't merge something new into `master` until this is cle

[2015-03-27 19:12] funkyfuture opened #135 "TestAutoCompleteLineEdit fails"
[code]

obviously the call of `AutoCompleteEdit.__init__` is using a wrong signature. @jo-tud, what would the argument `model` expect to get passed?

[2015-03-28 09:49] tristan-k commented on #80
+1

There is a comment stating that it is just a matter of fixing one line: http://www.webupd8.org/2014/10/manage-your-tasks-with-qtodotxt-cross.html#comment-1623716441

There is also another indicator which works properly with Ubuntu 14.04: http://www.webupd8.org/2014/04/todo-indicator-ubuntu-appindicator-for.html

[2015-03-28 12:28] jo-tud commented on #135
model expects a list of strings such as
values = ['(A)', '(B)', '(C)', '@home', '@call', '@work', '+qtodotxt', '+sqlvisualizer']
the list contains known strings that will be suggested. Autocomplete pairs, on the other hand, is a dictionary containing "commands" that will be replaced. e.g. *due:Febuary* will be replaced by *due:2016-02-28*.

[2015-03-28 12:38] jo-tud commented on #134
I don't have much experience with git, yet, and when the pull requests got messed up I was releived I coud get everything to a working state again. ;)
I'd be glad if you could help me to clean that up. So how would I go about rebasing these commits?

[2015-03-28 13:28] funkyfuture commented on #135
thanks for the explanation, can you make a patch that includes that as inline-documentation in the code?

i'm currently on the  road and can't look into the code. but what would be the correct testcase?

[2015-03-28 14:04] funkyfuture commented on #134
yeah, it will be really messy.

what would help from your side, in a nutshell:
- checkout to the 1.4-tag
- locally create a branch for each feature (autocomplete and duedate) from that point
- cherry-pick the commits related to a feature  into the corresponding branch
- squash all picked commits into one
- notify me

if you mail me a jabber-contact, we may have a chat.

i will try to do a rebase i

[2015-03-28 14:19] funkyfuture commented on #131
the first point is on my todo for the rework of the `Task`-class.

[2015-03-28 14:22] funkyfuture commented on #130
imo that should apply to any date, also `t:`

[2015-03-28 14:35] funkyfuture commented on #128
it shall be solved by disabling the autocomplete for priorities elsewhere than at the beginning as this is the defined in the todo.txt-standard.

[2015-03-28 14:47] funkyfuture commented on #116
unless you come up with a concept how that would be solved, i tend to mark that wontfix and close this issue.

[2015-03-28 15:03] funkyfuture commented on #112
do we actually need the `-f`-flag?

[2015-03-28 15:07] funkyfuture commented on #108
guess that's fixed.

[2015-03-28 15:07] #108 closed

[2015-03-28 15:49] funkyfuture commented on #57
@jo-tud can you make a patch, so this also works with future tasks (`t:`).

[2015-03-28 19:15] funkyfuture commented on #134
i already gave it a try, and really @jo-tud, it would be of great help if you condensed your work into two commits.

but i also saw that the autocomplete-feature also extends the due-feature, in these regards i will update the sketched process in the post before. so eventually the extension sits on top of the first commit. but in your case it will be quiet a nasty business as there's a lot of 'hin

[2015-03-28 19:25] funkyfuture commented on #134
one last thing: please check with Markus if it's okay that you also squash his commits into yours. this means his authoring credits will be lost, but that'd make it easier.

[2015-03-28 22:46] funkyfuture commented on #134
phew, i was curious, so here's it: https://github.com/funkyfuture/QTodoTxt/commits/rebase-master

please review this.

tests are passing, but i'd appreciate if you rewrote the doctests to unittests.

also, i have some critics on the filters:
- the code is very redundant, you should use class-inheritance
- completed tasks are filtered out, this is not reflected in the filter-class' name and should

[2015-03-29 11:22] funkyfuture commented on #105
@mipeazogithub any news on this issue?

[2015-03-29 15:50] Schroedingers-Cat commented on #116
It could be solved my saving configuration files where they belong.
In Windows, user data that does not depend on the machine should be saved at `%appdata%`. An example for that would be settings like "Add_create_date" or "last_open_file". This should be saved at `C:\Users\USERNAME\AppData\Roaming\QTodoTxt\settings.cfg`.
User Data that depends on the machine (and because of that should not be roam

[2015-03-30 22:17] funkyfuture commented on #101
this proposal is actually excluded by #113.

sorry, but word-wrapped tasks are not specified in the todo.txt-standard and it wouldn't fit its conception.

@AnderRasoVazquez you are referring to a word-wrap in the tasks-list? if so, please open a new issue concerning this. please also provide a proposal how it would look, indendation, seperator lines, whatever.

[2015-03-30 22:24] funkyfuture commented on #106
@johnwin did could you successfully install qtodotx with brew?
@hellectronic if your problem persists, please open an extra. it may be caused by a broken PySide-installation. please uninstall it and try an installation with brew as @mNantern suggested  before.

[2015-03-30 22:27] funkyfuture commented on #107
imo, that would overload the minimalistic design of qtodotxt.

what about a selectable horizontal, restraint textwidget at the top or bottom that lists all keyboard-commands?

[2015-03-30 22:42] funkyfuture commented on #116
okay, and let's say the *ix-guys don't feel like inflating the code for an additional settings-file, what would be the location for the common windows-user who doesn't use roaming profiles, `Local`? Or rather `Roaming` for these who use roaming profiles? the latter suites both, right?

actually i think it may be a way to save the window's position in a dictionary with hostnames as key.

can you el

[2015-03-30 22:45] funkyfuture commented on #119
what about a `.qtodotxt.css` in the home-dir?!

[2015-03-30 22:46] funkyfuture commented on #120
do you know why this happens?

[2015-03-30 22:51] funkyfuture commented on #131
filters for due-dates re implemented by @jo-tud.

so, both is on its way. be patient or hack!

[2015-03-30 22:51] #131 closed

[2015-03-30 23:03] funkyfuture commented on #135
now i'm really confused. anyway.

up there i'm quoting the output that refers to a `test_autocomplete_lineedit.py` with a unittest. however this file doesn't exist. i don't have any clue where that came from.

however please don't use doctest, but unittest, which is in the long term much better to maintain.

[2015-03-30 23:05] funkyfuture commented on #24
see #119 for further discussion on that aspect.

[2015-03-30 23:05] #24 closed

[2015-03-31 08:18] mipeazogithub commented on #105
No. I don't use it anymore.

[2015-03-31 08:18] #105 closed

[2015-03-31 09:41] Schroedingers-Cat commented on #116
I just realized that "last_open_file" also is machine dependent, because the todo.txt could be placed in a different path on another machine. There is only "add_create_date" that should theoretically placed in roaming, so it is not that important to distinct between local and roaming. So the common place for the .qtodotxt.cfg file would be `Local`, preferably without the leading . (so `.qtodotxt.c

[2015-03-31 19:51] funkyfuture commented on #116
tasks:
- build a proper path in Windows platforms
- properly use path-methods to concentate paths

[2015-03-31 19:54] funkyfuture commented on #116
@Schroedingers-Cat can you help with your abilities either by:
- implementing
- testing an implementation on Windows after pulling code with git and executing it from command line
?

[2015-04-06 16:18] tjaehnel commented on #101
Sorry for commenting on a closed issue.
As far as I understand the original proposal by @sant2000 it was suggested that the edit/create dialog should have word wrap as a UI feature, not to be stored into the actual todo.txt
It is a side effect of #113 that if you enable multiline tasks words are wrapped at the end of the line.

That means what @AnderRasoVazquez suggested as (B) is now there, but o

[2015-04-10 18:14] funkyfuture commented on #134
okay, i pushed the rebased master.

@jo-tud are you motivated to fix the issues regarding the tests and filter-classes? if so, i would then squash it into the latest commit.

[2015-04-10 23:44] funkyfuture commented on #135
the file was in another branch when i looked for it…

here's how i translated it:
[code]

please reopen this issue if there's space for improvement.

[2015-04-10 23:44] #135 closed

[2015-04-12 18:37] Schroedingers-Cat commented on #116
I have no experience with Python, but I'm familiar with git so I should be able to test your commits on Windows.

[2015-04-13 09:21] jo-tud commented on #134
Thanks for all your work up to here, that was great! Problem is:
I'm currently very busy with other projects - so I don't plan on working on this within the next couple of days, sorry.

[2015-04-24 08:07] kciosek opened #138 "QTodoTxt very slow with longer todo files: ( > 300 lines/tasks)"
QTodoTxt takes very long to start up and display the project/tags tree when dealing with large txt files (about 300 lines or more). This is important because some people are using todo.txt to track thinks like books to read, which can easily grow to this order of magnitude.

[2015-04-26 23:50] ghost opened #139 "Support for 'file://' hyperlink protocol to link local resources to tasks"
Standard http|ftp URLs are captured and presented as hyperlinks in the main tasklist.

It would be useful to also support the 'file://' hyperlink protocol to link local resources to tasks. A particular usage case would be a task like "Update contacts worksheet file:///my/local/directory/file.txt with new client information".

It appears from my investigations that you use xgd-open to open a hyperl

[2015-04-28 00:16] SimonChristopherCropper commented on #139
It appears that the hyperlinks are processed by _htmlizeURL() in task_htmlizer.py.

I have compiled some regex for Windows and Linux using online resources and tested them on kiki. They work in kiki but do not work properly in your program. It appears that the regex.sub() is getting confused by the brackets.

I am posting the regex here to facilitate testing on your side. Hopefully you can make th

[2015-04-28 02:02] SimonChristopherCropper commented on #139
Working code for web and linux...

[code]
note I removed the /2 in the sub() command as it appeared irrelevant.

[2015-04-29 01:37] SimonChristopherCropper commented on #139
Now included functionality for local files, local directories and email links to be recognised. See my pull request for further details.

[2015-04-29 01:47] SimonChristopherCropper opened #141 "Documentation outside project"
GitHub is a good system but unfortunately their repository wikis are outside the project so can not be managed in the same way as the code base.

Might I suggest you create a subdirectory called 'documentation' in the main repository and save the wiki's markdown files in there. That way people offering pull requests can update the documentation to reflect the new functionality.

For example, I hav

[2015-04-29 01:56] SimonChristopherCropper opened #142 "Version number for QTodoTxt not being updated"
I downloaded the repo binary file. The version was 1.4.0

As I wanted to update some code I forked the project. The program version was flagged as being the same as the binary I previously downloaded. When opening the program however it was clear that some important changes had occurred. For me the 'Due' category and 'Overdue, etc' subcategories jumped of the interface but I am sure that many othe

[2015-05-04 19:57] mNantern commented on #142
They are not tracked, I change the version number just before releasing QTT.

So when you fork the HEAD of master you get the last version (1.4) + every commit since then.

[2015-05-04 19:57] #142 closed

[2015-05-04 20:02] mNantern commented on #141
Actually you can download the wiki as a git repository: https://help.github.com/articles/adding-and-editing-wiki-pages-locally/

But I don't know if you can submit a PR on wiki page ?

[2015-05-05 00:19] SimonChristopherCropper commented on #141
Personally I don't think having two repositories is the way to go. I think having a subdirectory called "documentation" under the project that includes your markdown files would be the best option. Then contributors can update just like the codebase.

You could then change your wiki to point to these files as discussed here http://stackoverflow.com/questions/6474045/linking-to-other-wiki-pages-on-

[2015-05-11 07:11] martinbrylski opened #143 "Add i18n support"
The app should be localizable. It should also use the default system language or the chosen language from the preferences.

[2015-05-26 08:17] azrdev opened #144 "Multiple todo files"
Please add the ability to simultaneously open multiple todo.txt files, and move entries between them

[2015-05-27 06:07] mimmori commented on #144
+1
This feature would be very nice. One application could be a shared set of activities (via dropbox)

[2015-06-19 08:11] jorgb opened #145 "New task based upon selected context should pre-fill context"
For example, when selected context @ISSUE-123 (I use QTodoTxt for issue tracking and tasks to complete), and I press Ctrl-N or Ins to add a new task in that context, I have to re-type that context I selected. It would be a big help if there is an option, or way to pre-fill the new dialog based upon the current context selection.

I tried (in my limited time alotted during work) to find the hook in

[2015-06-24 18:23] gastus1 opened #146 "1.40 and 1.30 closes on opening on OS X 10.7"
Hi!
Installed it from downloaded QTodoTxt_1.4.0.dmg, tried to open - it autocloses. Tried with QTodoTxt_1.3.0.dmg  - the same.
Sorry for not giving more info, tell me what to provide, i'll be happy to do it.

Thanks a lot!

[2015-07-08 07:41] spanner888 opened #147 "cannot open or save todo txt files - openSUSE Tumbleweed 1.4.0"
Saved a note - btu file specified is NOT created! - No errors in GUI.

spanner888@linux-vgzm:~/Documents> qtodotxt
libpng warning: iCCP: known incorrect sRGB profile
libpng warning: iCCP: known incorrect sRGB profile
kfilemodule(18638) KMimeTypeRepository::parents: "/usr/share/mime/subclasses"  refers to unknown mimetype  "application/vnd.ms-excel.sheet.binary.macroEnabled.12"
kfilemodule(18638) K

[2015-07-11 09:49] tristan-k commented on #64
+1 for manually archive completed todos.

[2015-07-12 19:32] raabf commented on #112
The default syntax for passing a file to an command, is to add the file path as parameter and not as option (except for files that have an default path, like configuration files). So providing the file path as parameter would be the more usual way and so more intuitive.

[2015-07-18 20:24] the-this-pointer opened #149 "QTodoTxt build fails..."
Hi! I edited the code and implemented task percantage for personal use but I can't build this project!!!
I installed prequisites also PyQt (All of these are x64) and on Win7 X64 I'm trying to build...

the reason of failing is the QtGui doesn't load successfully, and I'm sure the Qt dll files are in Path variable... this is exact error message:
"
.
.
in <module>
    from PySide import QtGui
Import

[2015-09-25 17:47] orschiro commented on #80
+1 from me to disable the tray icon since it doesn't provide any functionality on Ubuntu 15.04 either. Can we remove the icon by commenting out the following lines in `app.py`:

[code]

Search query: https://github.com/mNantern/QTodoTxt/search?utf8=%E2%9C%93&q=tray

[2015-09-30 13:37] dittaeva opened #150 "Feature request: Copy (& paste) tasks"
Just tried selecting some tasks to copy them for later pasting into a text document. Didn't work... Would be swell if it did.

Pasting tasks could also be a feature, but I'm not so sure I'd have use for it.

[2015-10-25 14:39] yddub opened #153 "unable to save Todo file to hard drive"
I tried QTodoTXT under OpenSUSE 13.2 64 bit from this [source](https://build.opensuse.org/package/show?project=utilities&package=qtodotxt) . After creating some tasks i want to save the tasks as a textfile under my harddrive, but QTodotxt will not save a file to the directory. So i started qtototxt from the terminal and i get this error after trying to save a file:

Traceback (most recent call las

[2015-10-25 22:56] dkaparis opened #154 "Search filter not working with current Python / Pyside"
Under Arch Linux, the search filter stopped working after upgrade of Python from 3.4.3-3 to 3.5.0-2.
Typing in the bar doesn't filter anything and having entered text there actually freezes the currently displayed items when selecting different contexts/projects in the tree.

[2015-10-29 07:28] flight16 opened #155 "What is the state of QTodoTxt?"
First, thanks for this project.  It's nice, tiny, and the syntax highlighting is useful.

I noticed that the continuous integration build is marked as failed, there are 8 open pull requests, and the last commit was 1/2 year ago.  I want to add a few new features (sorting, saved filters, tweaks to behavior) and send pull requests.  Would my pull requests get integrated in a timely manner?

[2015-11-01 10:15] mNantern commented on #155
Thank you !

Unfortunately I don't have enough time to work on QTT anymore :(

But I'm more than open to find a solution if someone want to work on the project !

[2015-11-01 15:30] funkyfuture commented on #155
thanks by bringing this up.

i have also reduced capacities, but still am willing to maintain the code.

however, i haven't looked after this project for a while. the reason is, that i [refactored the internal task representation](https://github.com/funkyfuture/QTodoTxt/tree/lib-task) that is working according to the unittests, but there's some quirk that doesn't let a task's string be rendered in

[2015-11-01 19:13] funkyfuture commented on #109
closing due to non-feedback.

[2015-11-01 19:13] #109 closed

[2015-11-01 19:55] funkyfuture commented on #144
that would break the `--quickadd` cli option if i'm not wrong.

[2015-11-01 19:56] funkyfuture commented on #146
what OS X version are you using?
is this still an issue?

[2015-11-01 19:59] funkyfuture commented on #147
how did you install qtodotxt and PySide?

[2015-11-01 20:00] funkyfuture commented on #153
duplicate of #147

[2015-11-01 20:00] #153 closed

[2015-11-01 20:06] funkyfuture commented on #154
which version of PySide are you using? 1.2.4 doesn't support Python 3.5 yet.

[2015-11-02 22:58] dkaparis commented on #154
I'm using PySide 1.2.2 as that's what arch is carrying currently. I've flagged the packages in the arch community repository as out-of-date and will test again when they get updated.

I wasn't aware PySide was incompatible with Python 3.5 and couldn't find any definitive reference on that in docs. Can you point me to it?

[2015-11-02 23:09] funkyfuture commented on #154
the installation with pip aborts with a message.

[2015-11-03 13:10] gastus1 commented on #146
Hi!
I indicated the version in the title of this post )).
OS X 10.7.

[2015-11-05 01:33] spanner888 commented on #147
I am sorry, don't have any notes on that, and I won't have access to that PC for a few months. Plus at present I am reduced to sharing a small card table for wokspace and don't have any way to try and replicate the environment/issue.

My usual way is to use YAST, then if package not available in YAST, try Opensuse package search, eg http://software.opensuse.org/package/qtodotxt?search_term=qtodotx

[2015-11-09 19:35] martynjy commented on #154
Same here.  No search function on Arch with python 3.5.0-2 and python-pyside 1.2.4-1.

[2015-11-12 23:48] dkaparis commented on #154
I've tested with the updated PySide 1.2.4 and the problem persists.
Regarding the possible incompatibility with Python 3.5, I've posted to the Arch forums, in search for a solution:
https://bbs.archlinux.org/viewtopic.php?pid=1578243#p1578243
I'll update here if any solution presents itself.

[2015-11-13 10:34] dkaparis commented on #154
I have confirmed in my testing - with Python 3.4 and PySide 1.2.4, the search bar works properly (I used the python34 package from AUR, created a virtual environment with pyvenv-3.4 and manually installed PySide and ran qtodotxt from there).

This is a regression, however and if it is an issue with PySide, it should be reported upstream.

@funkyfuture is there anything more I can do to help tracki

[2015-11-14 01:08] kmic2006 commented on #155
Hello! I stumbled over this project a few days ago and I'm interested in contributing. I reviewed a whole bunch of TODO-Software, and this one seems to fit best to my personal needs. Indeed, there are many things I would like trying to improve. If I compare the last release with the current master branch, the master branch is clearly better. There also seems to be many useful improvements in the p

[2015-11-14 07:07] oroulet commented on #155
Agree with bug owner here. It is not very reassuring when a project show no activities over a long time and the maintainer refuses to merge pull request because of bigger changes coming. It is a quite secure way to a project death.

In addition it seems the maintainer is against very simple changes like refusing contextual menu that would add a few lines of code while the current GUI code is compl

[2015-11-16 00:01] kmicc commented on #144
A quite nice idea. But if you have more than one todo file opened and create a new task - in which of the opened todo files should that task be saved? How should this use case be handled?

[2015-11-16 06:05] mimmori commented on #144
Have you ever use google calendar?
I think a behaviour like that would be perfect.

You can work with single file view and select different one when you need.

[2015-11-16 22:20] kmicc commented on #144
No, I never used google calendar. But what maybe could work is an additional dropbox in the task edit dialog, where you can choose the file the task should be saved to.

[2015-11-18 00:02] kmicc commented on #141
Do you have a working example of your suggestion? I tried to implement it. Inserting the wiki pages into the repository with the source code went well. But I didn't find a way to redirect from the github wiki page to that inserted files. The best thing I could get was a link like this one: [Go to the wiki page](https://github.com/kmicc/QTodoTxt/blob/wiki/Home.md). That's rather ugly, and if you wa

[2015-11-18 00:27] SimonChristopherCropper commented on #141
Yeah, sorry I could not get it working cleanly either. In my fork I turned off the wiki and just store the markdown pages within the documentation folder.

Anyway this project seems to be dead. I have not seen any activity for months. There are multiple pull requests not been implemented and the travis build failed months ago due to a bad pull that has not been fixed.

I am only maintaining my for

[2015-11-18 00:27] #141 closed

[2015-11-19 11:22] funkyfuture commented on #155
Python is great for RAD. and like any piece of software that evolves over time, at some point there is the need to straighten things out or you will find yourself in hell when it comes to bugfixing or adding features.
the goal of that particular refactoring is to shift the handling of tasks from a simple parsing approach to a more abstract model that allows adding syntactic entities and a more fle

[2015-11-19 17:11] martynjy commented on #154
Sorry to say but until the search function is fixed I will not be using this package!

[2015-11-19 22:12] damascene opened #159 "[Feature Request] usability issue with Ins button and File menu for New tasks"
This is really great project that helped me favor it over other softwares and systems.
I think having the Ins button as a shortcut for inserting new task is not a very good idea. It's not easy to reach on every keyboard without moving hands out of typing position.
On my keyboard it's the third from top right.

That makes me favor using the mouse for inserting new tasks but again I hit new from the

[2015-11-20 06:17] kmicc commented on #159
Ctrl-N is already working (besides INS) for creating new tasks (never used it, because I personally find the INS-key more handy). I don't think we should give up the separation between "File" and "Task" in the main menu. Furthermore it is suggested to add a toolbar (https://github.com/mNantern/QTodoTxt/pull/151) and a context menu (https://github.com/mNantern/QTodoTxt/issues/107), so I don't see t

[2015-11-20 06:23] kmicc commented on #107
I personally would appreciate a contextual menu very much. It's clearly a missing feature. @oroulet: You wrote that this could be done with "a few lines of code". Would it be possibe that you provide these few lines? :-)

[2015-11-20 06:28] kmicc commented on #154
And what should we do here? Following this diskussion it seems for me up to now that this is a problem with external libraries, not with qtodotxt itself. Maybe you can use an older Python version (version 3.4 for example)?

[2015-11-20 17:47] dkaparis commented on #154
It is not yet clear that this is the case.
The specific cause for the problem should be identified and if it is indeed a bug in an external library, reported upstream.
I have offered my help tracking down the issue, but currently don't have the time to spend doing it myself.
In the meantime, the only workaround for the current version would be to run it with Python 3.4.

[2015-11-21 01:35] caowick commented on #147
My work-around since I'm not a programmer:  Start QTodoTxt via a terminal in the Dropbox directory and open the existing todo.txt file with the -f flag. This wrote an entry to "last_open_file" in the ~/.qtodotxt.cfg file. Close the program and edit the ~/.qtodotxt.cfg file and change the "last_open_file" to point to the correct file and it seems to work.

[2015-11-22 07:29] oroulet commented on #107
I was wrong this was not a few line but one :-) https://github.com/mNantern/QTodoTxt/commit/65186512a195162d55ac5f46e45d145fc6ef141f

more informatin there https://github.com/mNantern/QTodoTxt/pull/151

[2015-11-22 12:14] kmicc commented on #51
Yes, it would be nice to have such a feature. But as a workaround, you can simply open the todo-text-file in an arbitrary text editor and use the search&replace function.

[2015-11-22 14:14] kmicc commented on #101
I implemented what @AnderRasoVazquez suggested as (A), see https://github.com/kmicc/QTodoTxt (3 lines of code, by the way.). I will try to implement suggestion (B) as well.

[2015-11-22 15:40] kmicc commented on #107
Great! Thank you! I just merged it into https://github.com/kmicc/QTodoTxt.

[2015-11-22 16:48] kmicc commented on #115
Implemented with #152

[2015-11-25 21:42] cxu60 opened #162 "msvcr100.dll missing cannot start qtodo.txt on win10 TH2"
I upgraded to win10 threshold 2 but multiple open source softwares fail to run b/c of missing msvcr100.dll. I blame MS.

[2015-11-27 11:50] dkaparis commented on #154
Actually turned out it is not related to third party libraries.
On filter text field change, filters.py:351 calls `raise re.error` without arguments, which apparently fails under Python 3.5:

[code]

The fix is to add an empty 'msg' argument to re.error creation; PR submitted.
On a more general note, I find this usage of exceptions to control normal logic flow of operation questionable.

[2015-11-29 14:29] #154 closed

[2015-12-02 08:30] bartgenuit commented on #155
Correct me if I'm wrong @funkyfuture, but isn't one of the features of using branches in developments like these that you can develop your refactoring (more or less) in parallel to other fixes? Only once the quirk has been fixed and the feature is ready to integrate do you have a need to rebase, right? Or am I missing something?
Then again, I understand that you care about this feature personally,

[2015-12-02 20:48] alperyilmaz opened #166 "input dialog fails to open - input dialog autocomplete problem"
When I press ctrl+n or ctrl+i, input dialog didn't show up.
I ran the application from commandline and then the error message below was printed:
  File "/home/alper/softwares/qtodotxt/QTodoTxt-master/bin/../qtodotxt/ui/controls/autocomplete_inputdialog.py", line 46, in _populateKeys
    EOM = 'due:' + (date.today().replace(month=date.today().month+1, day=1)
ValueError: month must be in 1..12

I ch

[2015-12-03 23:41] kmicc commented on #166
Thanks for reporting this issue and providing a workaround - but this issue seems to be already solved in #164.

[2015-12-04 03:35] anacondaqq opened #167 "request outliner features (workflowy / moo.do) inside qtodotxt"
[code]

I hope, you understand.

[2015-12-04 05:20] alperyilmaz commented on #166
In that case, software I'm using might not be the latest version.. Sorry about that..

[2015-12-04 18:55] kmicc commented on #167
I don't see a way to implement sub*tasks* within the [Todo.txt-Format](https://github.com/ginatrapani/todo.txt-cli/wiki/The-Todo.txt-Format). But about what I personally thought about were sub*contexts* and/or sub*projects*. A possibility to do this could be the format
[code]
etc (same for +projects) and parsing/handling this in filters_tree_view.py. (I have this on my personal todo list, but not

[2015-12-04 19:04] kmicc commented on #166
No need to apologize. The current release of QTodoTxt is quite outdated and the linked patch is currently waiting to be merged into the master branch. If you want to use a more recent (and patched) version of QTodoTxt, there are other sources floating around.

[2015-12-04 19:19] kmicc commented on #144
On the other hand: Opening multiple instances of QTodoTxt with different todo lists is already possible. So what is actually missing is the possibility to copy/move tasks, see also #150.

[2015-12-06 09:59] mNantern commented on #155
I agree with both of you: we must improve the code base AND accept new PR. It's been too long since the last release of QTT.

I don't have enough time to code on it, but I still can make new release for everyone using QTT.

@funkyfuture do you have a little time to work on the refactoring with the community to make it work ?

@all can we agreed on a bug/PR list for the next release of QTT ? FYI a

[2015-12-06 12:10] oroulet commented on #155
@mNantern I propose to create a github group. that makes it very clear where the main repository is and easy for several people to work together. I already maintain a few projects so I can help with one more, but I am not neutral here, I want toolbar and contextual menu :-) I do most edit of todo file with vim. I only want an interface to have a nice overview and do small edit when I first started

[2015-12-07 13:42] jhekasoft opened #168 "v 1.4.0 nothing when creating task"
We have incorrect month number date.today().month+1. Because current month is 12. 12+1=13.

Traceback (most recent call last):
  File "/usr/share/qtodotxt/bin/../qtodotxt/ui/controllers/tasks_list_controller.py", line 142, in createTask
    (text, ok) = self._task_editor_service.createTask()
  File "/usr/share/qtodotxt/bin/../qtodotxt/ui/services/task_editor_service.py", line 42, in createTask
   

[2015-12-07 18:47] kmicc commented on #168
Thanks for reporting. Please see #166 and #164. Fixed in https://github.com/sdenel/QTodoTxt/commits/patch-1 or https://github.com/kmicc/QTodoTxt, but not yet merged into the master repository.

[2015-12-07 19:39] kmicc commented on #155
A bug/PR list for the next release of QTT would be ok. But I don't think this is the most important thing to do right now. I think it would be more important to bring back this project into an actively maintained state. Therefore, I appreciate *any* change to the current situation, but I'm too new to github to be able to propose a solution or even to evaluate a proposed solution. Indeed, I prefer

[2015-12-07 20:19] jhekasoft commented on #168
Thank you. Sorry for duplicate issue.

[2015-12-13 17:22] mNantern commented on #155
@oroulet I like the idea of a github group. I just made that for QTT. Thank you !

[2015-12-14 10:48] zedascouves commented on #12
Maybe this can help: https://www.ics.com/files/qtdocs/desktop-systray.html

[2015-12-15 12:01] oroulet commented on #155
@mNantern great! now you need to add motivated people to the group, I haven't seen much happen and I found some new bugs today when setting new due date and month is december,,,, which should be fixed

[2015-12-16 06:06] mNantern commented on #155
Any volunteer to be part of the group ? ping  @kmicc @oroulet @sdenel

[2015-12-16 06:43] oroulet commented on #155
I would like to be part of the group.

[2015-12-16 18:13] kmicc commented on #155
I would also like to join the group. (and +1 for some rules within the group)

[2015-12-17 20:17] mNantern commented on #155
I added you both to QTT group and opened a new discussion in google groups to talk about rules before pushing data into master: https://groups.google.com/forum/#!topic/qtodotxt/cEseIN28Ieo

Thanks flight16 for bringing this up, it's been very useful ! I think we can close that issue and continue in Google groups !

[2015-12-17 20:17] #155 closed

[2015-12-20 10:32] kmicc commented on #155
@mNantern Thank you!

Unfortunately, I don't have a google account and I'm not too motivated to create one. Because I don't have any experience in managing collaborative projects I think it will be ok if I join the google group read-only.

@oroulet I read your proposed rules and think they are ok.

[2015-12-20 10:49] kmicc commented on #168
Closed by #164.

[2015-12-20 10:49] #168 closed

[2015-12-20 10:50] kmicc commented on #166
Closed by #164.

[2015-12-20 10:50] #166 closed

[2015-12-20 11:16] oroulet opened #169 "Agree on QTdodoTxt rules"
current proposition is:

* do not push directly to master (only for merging)
* If a group member disagree => wait
* after 48 hours if 2 groups member approve request => merge
* After one week if 1 group member approve request => merge
* Simple bug fix can be merged directly

[2015-12-20 11:17] oroulet commented on #155
OK I created a new issue called group rules so we can discuss things there about rules https://github.com/QTodoTxt/QTodoTxt/issues/169

[2015-12-20 14:06] kmicc commented on #169
Your proposed rules are ok and I don't disagree to them. But I'm not sure whether it is really wise to exactly define times and needed group members for approval. For changes with a bigger impact one should maybe wait 2 or 3 weeks, changes with a low impact could maybe already merged on the same day. I also like the rule "Someone else than the pull request author merges" from your other project, w

[2015-12-20 14:20] #115 closed

[2015-12-20 22:08] #159 closed

[2015-12-21 06:15] mNantern commented on #169
I really like the proposals. They seem reasonable to me.

We should add them to the README (and we can always improve them later if something is wrong)

[2015-12-21 07:45] oroulet commented on #169
do we agree on starting with kmicc rules then? and add deadlines later if
we find out it is necesary

On Mon, 21 Dec 2015 at 07:15 mNantern <notifications@github.com> wrote:

[2015-12-21 10:40] mNantern commented on #169
Yes !

[2015-12-22 11:43] kmicc commented on #101
This is a useful suggestion and I will try to get it working.

[2015-12-22 12:03] damascene opened #171 "Support for non-latin or language indpenedent markup"
Most markups in todo.txt files (priority (A)(B) and Date t:, due:) depends on Latin characters so a user of other alphabets like Arabic, Russian, Chinese would have to switch keyboard to write the markup. In RTL languages like Arabic, Hebrew, Persian and Urdu it add another problem because text will align to the left instead of the write. and those languages are read from right to left.

For examp

[2015-12-22 12:51] kmicc opened #172 "Support for non-latin or language independent markup (1)"
(Request from @damascene, taken from #171)

Most markups in todo.txt files (priority (A)(B) and Date t:, due:) depends on Latin characters so a user of other alphabets like Arabic, Russian, Chinese would have to switch keyboard to write the markup. It would be much better user to write todo.txt tasks in his language letters without having to use Latin characters.
My thought is that many symbols th

[2015-12-22 12:51] kmicc opened #173 "Support for non-latin or language independent markup (2)"
(Request from @damascene, taken from #171)

In RTL languages like Arabic, Hebrew, Persian and Urdu text will align to the left instead of the right but those languages are read from right to left.
For example:
(A) شراء حليب
شراء حليب
![screenshot from 2015-12-22 14 05 26](https://cloud.githubusercontent.com/assets/411046/11954901/14b634ca-a8b5-11e5-97d8-ddd79cb325ac.png)
The first will be aligned

[2015-12-22 12:53] kmicc commented on #171
Thanks for reporting these issue. I splitted it up into two issues, see #172 and #173. Hope this is ok for you.

[2015-12-22 12:53] #171 closed

[2015-12-22 12:58] kmicc commented on #173
That looks ugly and is clearly a bug (also look at the position and order of the parenthesis). I think the problem is somewhere in HTML-output of https://github.com/QTodoTxt/QTodoTxt/blob/master/qtodotxt/lib/task_htmlizer.py. I'm not very experienced in RTL-languages, so any hints or contributions are welcome.

[2015-12-22 12:58] damascene commented on #173
Thank you for splitting it. I would like to note that if priorities are set with numbers the alignment change will not happen
(1) شراء حليب
will still align to right as normal behavior
but because of the (A) letter is before the RTL text then it will align to the left instead of the right.

This same behavior is in gedit and other softwares

[2015-12-22 13:25] kmicc commented on #172
We have to distinguish here between "priorities" and "additional meta data" (e.g. key:value).

**Priorities**
The format of priorities is defined in https://github.com/ginatrapani/todo.txt-cli/wiki/The-Todo.txt-Format#rule-1-if-priority-exists-it-always-appears-first, especially the use of latin letters. We can't change this without breaking compatibility with the original format, which I will not

[2015-12-22 13:46] kmicc opened #174 "Add "Edit Task"-entry to the edit-main menu, the toolbar and the contextual menu"
This (partly) relies on #151.

[2015-12-22 13:58] damascene commented on #172
I understand that priorities format are something to do with the todo.txt-cli project.
The workaround will work but defnintly it would be better to have language independent character for priorities. I've contacted the todo-txt.cli team before but no answer. I'll file a bug there for that.

Regarding the meta data, as you said you have control on it I suggest using one of the special characters ma

[2015-12-22 14:13] kmicc opened #175 "Use other icons"
Especially needed for the toolbar, see #151.

I see 2 sources of icons:
1. https://doc.qt.io/qt-4.8/qstyle.html#standardIcon
2. http://tango.freedesktop.org/Tango_Desktop_Project resp. https://commons.wikimedia.org/wiki/Tango_icons
and tend to use the icons from the tango project (which are in the public domain, by the way).

[2015-12-22 14:17] kmicc opened #176 "Save toolbar position"
Would be quite nice to have this feature. Relies on #151.

[2015-12-22 14:23] kmicc opened #177 "Add separation lines to the edit-main menu, the toolbar and the contextual menu"
This partly relies on #151 and #174.

I would use the following groups:
* create new / edit task
* delete / complete selected tasks
* increase / decrease priority

[2015-12-22 14:25] kmicc opened #178 "Add option "Hide future tasks" to toolbar"
This relies on #151 and is the main reason, why *I* want to have a toolbar.

[2015-12-22 14:50] kmicc opened #179 "Use only QSettings for saving configuration"
This issue gets important with the first use of QSettings (in #151), but it is useful independent from #151.

It should be implemented by using the constructor `QtCore.QSettings()` (see https://doc.qt.io/qt-4.8/qsettings.html#QSettings-5) and setting
[code]
once in `app.py`.

[2015-12-22 15:08] kmicc commented on #172
I understand your point regarding the priorities. I also would not like to have arabic or chinese characters for MY priorities. But I really don't see how to solve this while staying compliant with the original format (so this is clearly a lack in the original format). We should wait to get more opinions on that point.

Regarding the meta data: Sorry, you misunderstood me. The format `key:value` f

[2015-12-22 15:57] kmicc commented on #169
Thanks for agreeing on my proposal. Maybe number 2) is not the best idea in such a small group and in number 3) a hint what an "appropriate time" is would be helpful. Here my updated proposal:

(I will be on holidays the next days so don't mind if I don't answer to questions.)

[2015-12-27 07:21] linostar commented on #173
Since you are using HTML in the output, you can use the `dir` attribute available in HTML elements. For instance `<element dir="rtl"></element>` will the make the direction of what's inside `element` is from right to left. If you prefer to do in CSS, you can CSS attribute `direction` which also accepts values `ltr` and `rtl`.

Now, in case there is a mixed text (contains both LTR and RTL character

[2016-01-01 12:23] oroulet commented on #179
#151 add the necessary architecture (very simple) and migrated one setting (LastOpenFile or similar). Now we just need to migrate the rest and remove custom file. I am not sure it is critical though :-)

[2016-01-01 12:24] oroulet opened #180 "add setup.py and upload to pip"
This make installation and distribution to many more users easy
this might require moving around some files.

[2016-01-01 12:46] kmicc commented on #179
Maybe "Release Critical" is the wrong label. Read it as "fix before next release".

[2016-01-01 16:43] kmicc commented on #173
Thanks for your hint. I will have a look.

[2016-01-01 17:09] kmicc commented on #172
I think a two-step approach could solve this issue:

**Step 1 (task view):**
* 1.1: Allow *displaying* numerical priorities instead of latin priorities in the task view. This behaviour should be user settable and default for non-latin systems.
* 1.2: Allow *displaying* translated attribute key names instead of english key names in the task view. This behaviour should be user settable and default f

[2016-01-01 17:33] kmicc opened #181 "numblock-enter doesn't open task editor"
As the title says. The "normal" enter key works fine.

[2016-01-01 17:44] kmicc opened #182 "Can't mark (and edit) tasks using only the keyboard when there are no other tasks"
Create a view with only one task, e.g. a context or a project which contains only one task. It is impossible to select (and therefore to edit) this task using only the keyboard.

[2016-01-02 12:02] kmicc commented on #107
Implemented with #151.

[2016-01-02 12:02] #107 closed

[2016-01-02 13:31] kmicc commented on #112
@daducci: Does #158 solve this issue for you?

[2016-01-05 21:01] johannesgunnar opened #185 "Accented characters do not work after writing a +project or @context name"
Oddly enough, qtodotxt supports very well Icelandic characters except during task creation, if I try to write anything after I've written a project name or a context name, accented characters suddenly don't work anymore.

# Means to recreate issue
1. Open up a new create task dialog
2. Write +projectname or @contextname,
3. Try to write accented characters

# My setup
- Xubuntu 14.04.3. If I am no

[2016-01-07 18:35] kmicc commented on #185
Does this issue also occur, if you paste the accented characters from the clipboard? I tried it with your example characters (and with "ÐðÞþÆæ"), and everything seems to work. I also never had problems using the characters "äöüß", which I use quite often. I'm using Xubuntu too, but an older version with some very special keyboard settings.

[2016-01-07 19:00] johannesgunnar commented on #185
Copy/paste works without an issue.

Oddly enough, I just tested with Icelandic (Dvorak) and that seems to work fine. But with Qwerty this is still an issue. Note that Ð, Þ and Æ are not an issue it seems, only the accented vowels, but they are typed with a dead key+vowel combination. (the ´ on the right side of Æ)

![kb_iceland](https://cloud.githubusercontent.com/assets/2924543/12179786/c4bb1242-

[2016-01-07 20:52] kmicc commented on #185
I suppose that this issue is caused by using dead keys. I will check this. Thanks for reporting this issue!

[2016-01-07 22:11] kmicc commented on #185
Ok, after temporarily giving my system dead keys back (I normally use compose key) I can exactly reproduce what you described. Even that unfocusing / focusing the dialog fixes this behaviour. Not only entering +projects and @contexts trigger this behaviour but also entering ()-priorities and due-dates. Therefore the autocomplete feature of the task editor seems to be extremly suspicious.

I'm plan

[2016-01-22 18:33] oroulet commented on #180
setup.py is added in https://github.com/QTodoTxt/QTodoTxt/pull/186

I also pushed a beta version to pip, write:   sudo pip install qtodotxt --pre
If someone test it I will remove the beta flag

[2016-01-31 21:04] kmicc commented on #180
Am I right that this is an additional installation method? If yes, than the wiki (page https://github.com/QTodoTxt/QTodoTxt/wiki ?) should be updated before closing this issue.

[2016-02-01 18:09] kmicc commented on #175
Unfortunatly, none of the svg-icons are shown in Windows 8 (png-icons are shown), turning this from a suggestion to a bug.

[2016-02-01 18:19] oroulet commented on #175
Sounds like a qt bug more than anything else

[2016-02-02 09:20] #169 closed

[2016-02-05 14:38] zefilipe opened #193 "suggestion: support to addons"
Hi !

Since Nov 2015, in my new job using windows 7, i started using QTodoTxt !
In the fact its a amazing client gui to todotxt, congratulations loool

But it has a many features that wil be interesting to develop:

-     Statístics by project / contexct
-     Show / hide done tasks in tree of projects and  contexts ?
-     Calculate tasks duration
-     Search done tasks to specific month / date

[2016-02-05 19:38] kmicc commented on #174
Closed by #191.

[2016-02-05 19:38] #174 closed

[2016-02-05 19:38] kmicc commented on #177
Closed by #191.

[2016-02-05 19:38] #177 closed

[2016-02-06 07:26] oroulet commented on #193
probably a good idea. if you send a patch I will have a look.

I implemented this one through an AllTask filter. It better fits the current architecture. But maybe we could have that as a toggle....., but it does not really fit the current filter stuff

[2016-02-06 12:24] kmicc commented on #193
@zefilipe: Hello and welcome to QTodoTxt!
The four features you suggested in the first part of your comment seems to be nice and useful to me. I think they can included in the main codebase if someone implements them. If you want to work on such a particular feature, I suggest creating a new issue for that particular feature, so we can give you some help how things could be implemented.

I took a

[2016-02-06 19:58] kmicc commented on #176
Done with #194

[2016-02-06 19:58] #176 closed

[2016-02-06 19:59] kmicc commented on #179
Done with #194

[2016-02-06 20:10] #179 closed

[2016-02-06 20:12] kmicc commented on #116
@Schroedingers-Cat: You wrote on 29 Mar 2015:

With #194 we don't use the .qtodotxt.cfg anymore, we use QSettings instead. I didn't test it, but I think QSettings will save the configuration by default in the right place (probably in the registry on windows), so I close this issue here. If there's still a problem, just comment, reopen or create a new issue. Anyway, thanks for reporting this issue.

[2016-02-06 20:12] #116 closed

[2016-02-07 00:50] kmicc opened #195 "Create preferences dialog"
I suggest creating a preference dialog which replaces the current four checkable options under Files->Preferences.

If we have such a dialog, it would be easier to add new preference options to QTodoTxt. Examples for such new preferences are a user defined number of priorities (#184), using numerical instead of latin priorities (#172) and surely some more.

[2016-02-07 07:13] oroulet commented on #195
Agree. This dialog could also show current todo file etc

[2016-02-07 12:49] Schroedingers-Cat commented on #116
Would you mind providing a pre-release build?

[2016-02-07 18:46] kmicc commented on #116
I'm sorry, that's currently not possible, I don't know if / how the build scripts are working. That's an issue I planned to address later on.

Maybe you want to try out a manual installation of the current master branch? Having external users testing that version would be very helpful for us. You can also have a look on #190, we are planning to support installation via the python package manager p

[2016-02-08 11:19] oroulet commented on #116
when we merge #190 (very soon I hope, it is just a formality) we cant create an installer by writing
python setup.py bdist --format=msi

[2016-02-08 19:10] kmicc commented on #116
Then we maybe have the first volunteer for a beta test :-)

[2016-02-09 10:09] oroulet commented on #180
merged and uploaded master to pip

[2016-02-09 10:10] #180 closed

[2016-02-09 19:06] kmicc opened #199 "All-Tasks-Filter is missing the number of tasks in it in FilterTreeView"
Follow up from #192.

[2016-02-09 19:08] kmicc opened #200 "Last selected filter is not restored for dynamic filters"
Follow up from #192.

[2016-02-09 19:13] oroulet opened #201 "Add option to not be asked for confirmation before flagging a task as done"
I would like the option :-) we can do it after #195

[2016-02-09 19:29] kmicc commented on #201
Good idea. Waiting for #195 is appropriate.

[2016-02-11 06:20] muteboy commented on #119
This would be great. I've moved from another client to QTodoTxt and I find the fonts too small. I'll investigate and find some more id's.

[2016-02-11 06:32] muteboy opened #204 "A way to create and recall combination filters?"
It would be very nice and useful if I could create combination filters, store them, and recall them when necessary.

Examples:
"in:@Work ex:+TPS ex:@Home sa:Priority"
(Include @Work, exclude +TPS project, exclude @Home, sort by Priority ascending)

in:@Home Later -@Errand sd:DueDate
(Include @Home, exclude @Later and @Errand, sort by Due Date descending)

Have these filters set as options in the f

[2016-02-11 06:47] oroulet commented on #119
Should be a program called qtconfig installed with qt. There you can select
font

On Thu, Feb 11, 2016, 07:20 muteboy <notifications@github.com> wrote:

[2016-02-11 06:59] muteboy commented on #119
I'm using QTodoTxt on Windows at work, so I don't think that's an option.

[2016-02-11 12:02] oroulet opened #207 "merge funkyfuture work"
There are many good ideas there:
https://github.com/QTodoTxt/QTodoTxt/commit/dba69285c105ff7be894deff79f37fb40252cdb5
But this commit attempts to do everything at once. Should try to merge what is possible if I get some time.

[2016-02-11 18:17] kmicc commented on #204
Nice idea, but we should take care not to duplicate functionality provided by the already existing custom task search. Including and excluding projects and contexts should already possible with this.

I think adding to the task search line edit the possibility to save / restore custom search filters (or implementing a drop down with the maybe ten last used search strings) should be not too difficu

[2016-02-11 18:19] kmicc commented on #119
I can confirm that the fonts under Windows are to small (Linux is ok, so we need something platform dependent).

[2016-02-11 19:25] kmicc commented on #207
Would be great if you could have a look to it and maybe merge the one or the other thing. I'm not able to understand what's going on in this extremly large commit.

[2016-02-12 10:41] oroulet commented on #207
@funkyfuture what is the state of your todolib branch in QTodoTxt? It seems incomplete. refers for example to a html property of Task which does not exist. Do you have more code somewhere?

[2016-02-13 18:43] kmicc commented on #175
Implemented with #210.

[2016-02-13 18:43] #175 closed

[2016-02-14 05:42] muteboy commented on #204
My apologies, I didn't realise that exclusion was possible in the search field. RTFM!
It would be nice to be able to save searches in that way though.

Idea: A function to copy the current task text into the search field. Then we could store saved searches in the todo.txt file itself.

[2016-02-14 05:58] muteboy opened #215 "and/or/not conditions not functioning in filter (Win v1.4.0)"
To recreate, create a task with the following text:
"@Home @Work this is a test of filtering +Later +R2020"

Filtering gives the following results (filter text in quotes):

- "home" - returns all "home" tasks, including this one
- "work" - returns all "work" tasks, including this one
- "home work" - returns all tasks with "work" AND "home", including this one
- "home, work" - returns all tasks wit

[2016-02-14 08:01] oroulet opened #216 "flake8 in travis often reports errors that are not"
I propose to remove falke8 from travis or at least configure it better

[2016-02-14 08:02] oroulet opened #217 "Task should store due date as datetime, it will speed up filtering"
currently dues dates are parsed and reparsed at every filter update

[2016-02-14 10:34] kmicc commented on #215
Thanks for reporting this issue. Inverted search has been implemented with #152 and is therefore not included in release 1.4. Should work in current master and will be included in the next release.

[2016-02-14 10:34] #215 closed

[2016-02-14 10:39] kmicc commented on #204
I'm planning to add the possibility for copying / pasting tasks to / from clipboard anyway (sometime in the future). This would make your idea work too (cool idea, by the way!).

[2016-02-14 10:41] kmicc commented on #216
Agree. Failing tests because of missing spaces in comments are annoying. Will provide a patch.

[2016-02-14 10:46] kmicc commented on #217
Good idea. Is this also true for the t-tag, the creation and the finish dates?

[2016-02-14 21:39] oroulet commented on #216
Yes but flake8 often reports error which are not errors...

[2016-02-15 15:50] zefilipe commented on #193
Hi @oroulet  and @kmicc !

Yes, in the fact its a very interesting addons that i develloped to todotxt--client, see in this link a somme screenshots and lite description in use :-)
https://linuxbestchoice.wordpress.com/2012/04/17/todo-txt-o-melhor-gestor-de-tarefas-livre-universal-leve-e-extensivel/

Maybe use google translate page, to get it in english !

Its fine have the AllTask filter ;-)

I k

[2016-02-16 20:10] kmicc opened #221 "Talking about QTodoTxt version 1.5"
Version 1.4 of QTodoTxt has been released in 9/2014. Many things changed since then: we have now due-filters, a toolbar, a new icon set, context menu, a not-search operator for tasks, multiline task view - to list only things that will be directly visible for the user. Users are also asking for funktionality which has already been implemented in the master branch, but not yet released.

I think af

[2016-02-16 21:52] oroulet commented on #221
I support the idea to release often. If you want to make immediatly a release based on master, I suggest to revert my commit about task comparison. It might break things. And also postpone multiline.

Concerning my new PR I am quite confident that it breaks very little, it makes the task code cleaner and more efficient. And if there is a bug at that level we will discover it very soon. But it can

[2016-02-17 08:03] oroulet commented on #221
* Release of version 1.5 in 4-6 weeks, maybe earlier, but not later.

branch the code, fix things if you know there is a bug then release 1.5.0. you will never manage to test everything anyway after so many changes. then you can release 1.5.1 for bugfixes and we can release 1.6 in a month or so

* I really would like to have #101 (multiline task editor) fully implemented in version 1.5.
As I wrote

[2016-02-20 10:53] kmicc commented on #193
Sorry for my answer taking so long.

Nice to hear that you are interested in developing the one or the other thing here. Of course you can contribute with code :-)

The basic for contributing is a) fork this repository b) implement the things you want to change and upload them to your fork (at best in a separate branch, but that is not mandatory) c) create a pull request (https://github.com/QTodoT

[2016-02-20 10:59] kmicc commented on #221
Ok, let's do it exactly this way.

Could you provide me a link to that discussions? That would be helpful for me.

[2016-02-20 11:39] kmicc commented on #221
Created the 1.5 branch. Will create some PR for it the next time (updating screenshots, doc, version number and similiar things).

[2016-02-20 12:34] oroulet commented on #221
Could not find it, there were no example code anyway. Just discussion. But
this is not hard to do. Qlistviewwidget allows to replace widget under
editing. So it probably just a few line of code.
But then when creating new task we need to decide where to insert it under
editing, not hard though...

[2016-02-20 12:34] oroulet commented on #221
Created the 1.5 branch. Will create some PR for it the next time (updating

Sounds like things easier to do than creating a PR :-)

[2016-02-20 13:01] anacondaqq opened #222 "[suggestion] online storage sync"
for example at google drive, or dropbox, or at any .txt storage out the box from qtodotxt.
This feature can beat a lot of different gtd / todo apps.

How it must looks like:
File -> Option (or i do not know which tab for settings)
Online sync options panel.
Select sync method: sftp / rsync / dropbox / google.drive docs
(better -> google drive docks)
Then, you click on the link, and you open though

[2016-02-20 13:48] oroulet commented on #222
Feel free to send a patch :-)

[2016-02-20 14:09] kmicc commented on #222
According to https://github.com/QTodoTxt/QTodoTxt/wiki/User-documentation#tips at least DropBox integration (or similiar services) should work out of the box (personally never tested it).

I'm open to merge patches providing access to other online storages. Maybe this could / should be done within the also proposed addon system (#193).

[2016-02-20 15:29] anacondaqq commented on #222
okie-dokie:) I will try to understand qtodotxt code, and will play around with remote file storage:)

[2016-02-20 19:10] sttrebo commented on #221
if your interested in a beta site, please let me know.  i am currently working on a autohotkey script that is adding some functionality as far a task creation goes so i'd love to see what you have been working on to see what i can do with my script.

thanks
steve

[2016-02-20 19:23] oroulet commented on #221
Just clone master and test. It is not hard

On Sat, Feb 20, 2016, 20:10 sttrebo <notifications@github.com> wrote:

[2016-02-20 19:26] kmicc commented on #221
@sttrebo Beta-testing is of course very appreciated. Do you need binaries? Otherwise you could start testing with the 1.5 branch - there are no plans to add / remove / change any functionality within this branch.

[2016-02-20 23:53] kmicc commented on #221
@mNantern: Would it be possible for you to provide binaries of the 1.5 branch (https://github.com/QTodoTxt/QTodoTxt/tree/1.5) (NOT the master branch!) for beta testing (and maybe also for the release later on)?

[2016-02-21 01:43] kmicc commented on #221
Updated changelog for version 1.5, see https://github.com/QTodoTxt/QTodoTxt/wiki/Changelog.  A quite long list...

[2016-02-22 15:04] zefilipe commented on #193
Hi @oroulet and @kmicc !

We can continue to talk about this by e-mail ?
I Think that we will exchange knowledge, suggestions ... by it !
And this issue, will leave closed, unless to reopen :-)

My e-mail is:
zefilipe.groups@gmail.com

Regards

[2016-02-22 17:55] oroulet commented on #193
Using an issue to discuss a feature is fine otherwise you can use the mailing list. But I am really unsure how to implement a plugin solution. What do you need? A system to write script that are called when clicking on toolbar might be easy.  It should also be possible to call plugins when saving file. Something else?

[2016-02-23 16:39] zefilipe commented on #222
You can use sommethink like symbolic link in Linux, and in Windows Mtlink, and todo folder is always sincronized, without had a concern to manual sync ;-)

See in this link howto make this:
http://www.groovypost.com/howto/microsoft/make-dropbox-sync-any-folder-on-your-pc-using-symbolic-links/

[2016-02-24 08:04] mNantern commented on #221
@kmicc Yes ! I will try to do it this week-end

[2016-02-24 11:44] zefilipe commented on #221
Hi,

Anyone can generate a QTodoTxt 1.5 beta installer ?

I tried to make a installer, but isn't easy, i installed ok python, but installing py2app (python setup.py install), it shows a error that only can be used in MacOs ... ! :-(

And i'm curious to test the new beta version ;-)

Regards

[2016-02-24 22:52] kmicc commented on #193
That's quite close to what I was thinking about: A system to *call* scripts / applications / shell commands / ... written somewhere else when clicking on toolbar / menu item / ... .

[2016-02-25 12:45] GrouchyGaijin commented on #130
I was thinking the same thing when I made a task.

[2016-02-25 14:53] zefilipe commented on #193
Hi !

I know that an issue to discuss its bad, but i dont found other way to make this :-(

Do you had a mailing list for QTodoTxt ?
If yes, whats subscription e-mail ?

No, sommethink i want discuss a somme tecnical details about the code, issues ... ;-)

Regards

[2016-02-25 16:47] oroulet commented on #193
I think an issue is fine too discuss technical things. What do you want to
do in a plugin?
Otherwise look for todotxt in Google groups. The email address is also
written everywhere in code and readme

On Thu, Feb 25, 2016, 15:53 zefilipe <notifications@github.com> wrote:

[2016-02-25 19:26] oroulet commented on #217
commited

[2016-02-25 19:26] #217 closed

[2016-02-25 19:26] oroulet commented on #201
commited

[2016-02-25 19:26] #201 closed

[2016-02-25 19:31] oroulet commented on #221
I just updated pip. if you can use pip, you can get 1.5

[2016-02-29 11:41] zefilipe commented on #193
Good morning,

Sorry, but in the fact isn't my objective with this subject, to enter spam in this issue ... !

I know and im a subscriber, of todotxt google groups, but in the fact in the recent past, i post one question, but i dont had answer from this team, but by another member, that isn't satisfactory :-(

I do not write most about this subject here, ok ?
I wrote by todotxt google groups, and

[2016-02-29 12:23] oroulet commented on #193
There is something wrong here. I cannot find you in the group and there has
not been any messages since january 15th.

https://groups.google.com/forum/#!forum/qtodotxt

On Mon, 29 Feb 2016 at 12:41 zefilipe <notifications@github.com> wrote:

[2016-02-29 14:17] zefilipe commented on #193
Yes, are something wrong, i thinked that is todotxt google group, and now i had joined to qtodotxt google group !

Thanks ;-)

[2016-02-29 14:31] zefilipe commented on #221
Thanks, im using the pre version (1.5) ;-)
Regards

[2016-02-29 14:46] zefilipe opened #227 "done tasks appends </s> to end of the link and give link broken"
Hi !

I had waiting for version 1.5, but this bug continues ... !

By example, i add a task like this:
`+QTodoTxt @Prefs Create preferences dialog https://github.com/QTodoTxt/QTodoTxt/issues/195`

That its good, when you do not remember the subject contents, open this link and see details ... !
When like me, works in a firm that you will be a organized tasks, it is realy good, at any moment i can

[2016-02-29 23:53] kmicc opened #228 "Can't edit tasks one day after 29.2. (Leap year)"
Error message says:

[code]

Maybe related to #164.

[2016-03-01 17:07] oroulet commented on #227
fixed there, but it is huge rewrite, so I am not sure I did no break something

[2016-03-02 06:54] mimmori commented on #139
I have tested in windows but it __doesn't work yet__. It would be very useful function for speedup activities.

[2016-03-02 06:58] oroulet commented on #139
And what are the symptoms? What task string?

On Wed, Mar 2, 2016, 07:54 mimmori <notifications@github.com> wrote:

[2016-03-02 07:07] mimmori commented on #139
I tried some schema...

- do something file://C:\my_file.txt
- do something file://C:/my_file.txt
- do something file:///C:/my_file.txt

anyhow it hasn't been recognize as link and shown as simple text

[2016-03-02 07:49] oroulet commented on #139
Does it work with a http address? It is hard to test c:\ ting on linux...

file://home/xxx works perfectly on linux...maybe it is a windows things

[2016-03-02 07:54] oroulet commented on #139
seems to be very hard to install pyside on windows..Anyway I do not understand how this can fail only on windows. Are you sure you run the correct branch? you do not have several installations that overrride each others?

[2016-03-02 07:57] oroulet commented on #139
Sorry I see this is another bug request!! The working code is there https://github.com/QTodoTxt/QTodoTxt/pull/230 and it is not merged yet. but hopefully soon, as it makes the code much shorter and fixes bugs

[2016-03-02 08:17] oroulet opened #231 "use PyQt and not PySide"
Seems PySide is dying since nokia stopped working on it and it has no windows installer while pyqt comes with winpython for example and is much more reactive to new qt releases
Replacing dependency should no be hard, but will require to modify almost all files.
opinion @kmicc ? @mNantern

[2016-03-02 08:40] mimmori commented on #139
Ok, thanks... I will try to merge in my local copy...

[2016-03-02 12:42] mimmori opened #232 "INFO: formatted text"
In the sample image shown in the main project page seem that is possible to format text of the task (Bold/Underlined/Italic).

How can I do this? (markdown?)

https://github.com/QTodoTxt/QTodoTxt/wiki/screenshots/QTodoTxt_main_view.png

[2016-03-02 12:47] oroulet commented on #232
HTML ! Just add HTML tags

On Wed, Mar 2, 2016, 13:42 mimmori <notifications@github.com> wrote:

[2016-03-02 17:18] mNantern commented on #231
I agree, PySide seems (almost) dead: http://code.qt.io/cgit/pyside/pyside.git/stats/

[2016-03-02 20:10] kmicc commented on #217
For the protocol: Was PR #220, if I'm not wrong.

[2016-03-02 20:17] kmicc commented on #201
Done with pr #220 (commit 80998a2)

[2016-03-02 20:28] kmicc commented on #193
The idea of an add-on system for QTT is not wrong, so there is no need to close this issue.

By the way: I'm *not* suscribed to the google group, so there won't be any answers from me there.

[2016-03-02 20:40] kmicc commented on #139
There has been a pull request (#140) for this issue, which was to 90% ok. Unfortunately, the pr author decided to close that pr instead of solving the remaining (minor) problems, so the pr stayed unmerged. Indeed, having the proposed functionality would be useful.

[2016-03-02 20:47] kmicc commented on #232
The todo file used for the screenshots can be found here: https://github.com/QTodoTxt/QTodoTxt/blob/master/examples/todo.txt

A link to the allowed HTML subset can be found here: https://github.com/QTodoTxt/QTodoTxt/wiki#tips

[2016-03-02 20:47] #232 closed

[2016-03-02 21:27] kmicc commented on #231
Seems to be a bigger change for me. As long as we don't move away from Qt I'm neutral here. Of course it would be nice to be able to rely on Qt versions newer than 4.8.

I'm in doubt with "replacing dependency should no be hard". Maybe we should create a separate branch for doing / testing the transition?

[2016-03-02 23:23] kmicc commented on #195
See #226.

[2016-03-02 23:23] #195 closed

[2016-03-03 21:23] oroulet commented on #231
I did it: https://github.com/QTodoTxt/QTodoTxt/pull/233
Tok 30 minutes. might be bugs, but it seems to work correctly. tests are broken

[2016-03-04 17:44] oroulet commented on #227
I uploaded alpha version to pip : pip install qtodotxt --pre

[2016-03-04 17:47] oroulet commented on #139
In my opinion the proposed solution was completely broken, over complicated and did only support a few pre-defined url format.  #230 is only one line and maybe still too somplex, maybe everything with a "protocol:" tag could be presented as a url

I uploaded alpha version if someone want to test
pip install qtodotxt --pre

[2016-03-06 07:39] #227 closed

[2016-03-07 15:16] zefilipe commented on #149
download installer of pyqt 5 at the bottom of this link
https://www.riverbankcomputing.com/software/pyqt/download5

Install it, next, next ... and this is done, qtodotxt pre opens ok ;-)
Regards

[2016-03-07 15:25] zefilipe commented on #227
Thanks, im tested, and now works well :-)

But i think two things:
1. it will be a space between end of the link and before completed date info
2. dates created and completed be better than in stable version (1.4), or be better like this
(created: 2016-03-06, completed: 2016-03-07)

Regards

[2016-03-07 16:56] oroulet commented on #227
I just fixed a few things in #234

On Mon, Mar 7, 2016, 16:25 zefilipe <notifications@github.com> wrote:

[2016-03-07 23:10] kmicc commented on #228
Done with ff9750 (#234). Thanks oroulet!

[2016-03-07 23:10] #228 closed

[2016-03-07 23:13] kmicc commented on #221
Updated branch for resolving #228.

[2016-03-08 17:51] zefilipe opened #235 "Delete a todo task, exits qtodotxt (pre version)"
Hi !

Today im using qtodotxt pre, and tried in two ways:

- select the todo task and press delete key, or
- select the task, and open context menu, and select "Delete selected tasks"

After this, qtodotxt is a somme seconds in systray and exits / close :-(

PS: im using windows 7

Regards

[2016-03-08 18:12] oroulet commented on #235
just uploaded a new version with fixes. Can you try? --pre and --upgrade

[2016-03-08 21:27] mNantern commented on #221
At the moment I build QTT on my own computer (following https://github.com/QTodoTxt/QTodoTxt/wiki/Building-QTodoTxt-Binaries) but that's far from ideal.

Maybe we can setup some automatic build with [CircleCi](https://circleci.com) (for linux and OS X) and [AppVeyor](https://www.appveyor.com/) (for Windows).

They have both free plan for opensource project and can be integrated easily with Github.

[2016-03-09 07:51] oroulet commented on #221
@mNantern . It would be great. I am also considering adding a release.py file that would create bump version, create tag and branch and upload to pipy so we can create releases more often. but that means we also need a solution to build and upload binary releases.. I known nothing about osX and Windows

[2016-03-09 11:32] RayDrew49 opened #236 "Archiving completed tasks if auto archive not enabled"
Hello,

First - thanks for QTodoTxt - it's the todotxt UI that works best for me.

One question (on V 1.4 - Windows) - how do I archive tasks if I don't have auto archive enabled?

Best regards,

Ray

[2016-03-09 14:55] zefilipe commented on #235
it works well :-)
Thanks and regards

[2016-03-09 17:43] mNantern commented on #221
We can upload to [GitHub Release](https://github.com/QTodoTxt/QTodoTxt/releases) automatically from CircleCi or AppVeyor by using [GitHub API](https://developer.github.com/v3/repos/releases/#upload-a-release-asset) I think

[2016-03-10 12:27] oroulet commented on #236
I have not looked at that code yet, but I think it is currently not possible. But should be easy to add. patch welcome. Add an action for it.

[2016-03-10 20:02] oroulet commented on #235
close the issues when you know they are fixed :-)

[2016-03-10 20:02] #235 closed

[2016-03-17 11:28] pypardo opened #238 "SIngle instance"
QTodoTxt can be easily connected to a shortcut,
a simple option can be a way to select to have a single instance application.
In release 1.4 and 1.5, a new application is started when shortcut is selected.
It may be related to #76

I think that this new feature can stay as an option, because we may find some users that need to have access simultaneously to many todotxt files.

regards

[2016-03-19 21:21] thomas-mc-work opened #239 "remember recently opened files"
It would be helpful to have a list of recently opened files to switch between `todo.txt` and `done.txt`. Since the application doesn't even remember the last used folder it's very fiddle to switch now. This could be unnecessary when implementing #144 if the session is remembered during restart of the application.

[2016-03-19 21:22] thomas-mc-work commented on #239
Or another good solution would be a switch to a possibly existing `done.txt` residing in the same dir of the `todo.txt`

[2016-03-19 21:24] thomas-mc-work commented on #80
This icon would be useful if
- I could minimize (optionally via the close button) the application only leaving the tray icon
- on click on the tray icon the window will be restored

[2016-03-21 18:01] oroulet commented on #231
done in 1.6

[2016-03-21 18:01] #231 closed

[2016-03-21 18:02] oroulet commented on #80
new settings merged in 1.6beta. try it with pip install QTodoTxt --pre

[2016-03-21 18:02] #80 closed

[2016-03-21 18:02] oroulet commented on #199
remove in 1.6beta

[2016-03-21 18:02] #199 closed

[2016-03-21 18:03] oroulet commented on #178
done in 1.6beta

[2016-03-21 18:03] #178 closed

[2016-03-21 18:04] oroulet commented on #139
done in 1.6beta

[2016-03-21 18:04] #139 closed

[2016-03-29 11:41] zefilipe commented on #236
Hi !

Today im completed a task using QtodoTxt pre version, and this tasks does not appears in completed items :-(

Its preferences, its very mutch better, thats good ;-)
I disabled auto archive and this works well ;-)

I think that auto archive be by default disabled, and in future we can think in a feature that archives done tasks of the old year (by example: archive done tasks of 2015)

Regards

[2016-03-31 04:43] oroulet commented on #236
You are right. The archive thing is broken.... I will have a short look, maybe disable it

[2016-03-31 19:25] oroulet commented on #236
should be fixed in last pip version. Can you test? default is now auto_archive=False and added button to archive manually

[2016-04-03 16:55] funkyfuture commented on #207
ciao, i've made a package out of it: https://github.com/funkyfuture/todo.txt-pylib

i have issues to upload it to the PyPI, but it's available here.

[2016-04-04 10:22] zefilipe commented on #236
i upgraded pre version, and its works ok ;-)
Regards

[2016-04-04 10:26] zefilipe commented on #178
I do not realy whats it does ... !

I seen that had a option to hide / show future tasks, but do not had effect:

I created task and modify start date to 1 week or month ago, add a due task too long, and do not take any effect, clicking in hide / show future tasks :-(

Regards

[2016-04-04 10:37] zefilipe opened #241 "show / hide completed tasks if click hide its ok, but do not shows tasks in complete filters"
Hi !

Today i upgraded my pre version of qtodotxt !
And wow, that a very great job, its amazing, realy this comunity its very breathtaking ;-)

I think the show / hide completed tasks very very good :-D
Its a feature so many times i like to had in qtodotxt, you can navigate in projects, contexts ... filters, and it shows (if marked show completed tasks), the todo and done tasks, and if hide only s

[2016-04-04 13:13] zefilipe opened #242 "Projects and contexts filters to completed + todo tasks"
Hi !

At start at this evening, i discovered another feature, that dont works as be expected !

For example:
todo tasks:
+QtodoTxt @Interface delevop a option to show / hide completed tasks
done tasks:
+QtodoTxt @Filter Improvement in filters, to show completed tasks if these option are selected

In interface it shows:

- Contexts
 -     Interface

- Projects
 -   Qtodotxt

If faults in contexts,

[2016-04-06 11:29] oroulet commented on #242
strange bug, the context filter fails if the name of the context is
Filter....

On Mon, 4 Apr 2016 at 15:13 zefilipe <notifications@github.com> wrote:

[2016-04-06 11:32] oroulet commented on #242
ok now I understand, context and projects and not visible in tree if tasks
are completed. Will fix it when I get two minutes

On Wed, 6 Apr 2016 at 13:29 Olivier Roulet-Dubonnet <
olivier.roulet@gmail.com> wrote:

[2016-04-06 11:34] oroulet commented on #178
it applies to the t: tag
try
+QTodotxt test future t:2017-01-01
Seems to be badly documented

On Mon, 4 Apr 2016 at 12:26 zefilipe <notifications@github.com> wrote:

[2016-04-06 15:56] RayDrew49 opened #243 "Not an Issue: How do I run the latest QTodoTXT code?"
Hi,

I'd like to run the latest QTodoTXT code. Could someone give me a quick example how I do this?
I have installed WinPython-32bit-3.4.4.1Qt5 and QTodoTxt-master (although I'm not sure if that's the latest code) but haven't been able to get it to run.
I have never used QT but have used Python in the past (10 years ago...)

Best wishes

[2016-04-06 17:10] oroulet commented on #243
In the winpython directory you should have a script called settings or
admin, it starts a GUI where you can register Python to Windows (Google the
exact workflow). Then you can download qtodotxt and double click
qtodotxt.py in bin directory. It will work
Let us know if you find bugs. I never use Windows

On Wed, Apr 6, 2016, 17:56 RayDrew49 <notifications@github.com> wrote:

[2016-04-06 18:15] RayDrew49 commented on #243
I've registered winpython via the console. There are 2 files in the QTodoTxt-master\bin directory: qtodotxt (with no file extension) and qtodotxt.pyw. If I run qtodotxt.pyw with pythonw.exe it exits immdediately - running with python.exe opens a console window and then immediately exits. I don't know if this is a bug or I'm just doing something wrong.

[2016-04-06 18:25] oroulet commented on #243
To find out you need to open a terminal (cmd or powershell) then navigate
to bin directory and start the pyw file ( maybe rename to .py)

On Wed, Apr 6, 2016, 20:15 RayDrew49 <notifications@github.com> wrote:

[2016-04-08 08:53] RayDrew49 commented on #243
This is what I get - (same with qtodotxt.pyw and renaming to qtodotxt .py)

[code]
I'll see if I can figure out...

[2016-04-13 09:02] RayDrew49 commented on #221
Hi - just curious if 1.5 is any closer to being available as binary download - I would really appreciate being able to filter with the not (! ~) operator.
Best regards,

[2016-04-13 13:40] oroulet commented on #243
OK. stupide thing.  the line:

      self._view.restoreGeometry(self._settings.value("main_window_geometry"))

should probably be something like:

    self._view.restoreGeometry(self._settings.value("main_window_geometry", b""))

Can you test it? and send a pull request if you know how?

[2016-04-13 13:43] oroulet commented on #221
1.5 is released but it looks like @kmicc has given up on releasing binaries. I am currently trying to polish things for a 1.6 release. When it is done, I may spend some time making binaries.... I do not really care, so it would be better if someone using these binaries steps in

[2016-04-13 21:30] kmicc commented on #221
Well, my latest info is that @mNantern wanted to create the binaries.

I'm definitivly not able to create binaries for OS X (didn't get managed to install PySide on the system I have access to), Windows would not be impossible, but difficult. I don't have the needed tools installed nor do I know where to upload the binaries, if I would have managed to create them.

I was also thinking about trying

[2016-04-14 12:06] RayDrew49 commented on #243
Thanks - I have this working now. I didn't get anywhere with your suggestion to add another parameter. However, it struck me that as the application hadn't run before, maybe the issue was that there was no geometry or state to restore so I commented out the 2 lines below:
[code]
The application then ran with the window in a default position. Once I had run the application I un-commented the 2 line

[2016-04-14 14:43] oroulet commented on #243
@RayDrew49 adding the second paramater should have fixed this... not sure.
I just pushed some changes. if you run latest code, do no hesitate to report bugs or strange behaviour

[2016-04-14 14:44] oroulet commented on #242
OK I pushed a solution which hopefully is intuitive. Can you have a look?

On Wed, 6 Apr 2016 at 13:32 Olivier Roulet-Dubonnet <
olivier.roulet@gmail.com> wrote:

[2016-04-14 14:44] oroulet commented on #241
also fixed in last commit

On Mon, 4 Apr 2016 at 12:37 zefilipe <notifications@github.com> wrote:

[2016-04-15 13:30] zefilipe commented on #242
i updated qtodotxt pre version, by the command:
`pip install qtodotxt --pre --upgrade`

and dont have any changes to update ... !
Regards

[2016-04-15 17:40] sttrebo opened #245 "Not an Issue: 32bit or 64bit"
quick question:  i am running win7-64 on my laptop.  i've heard than some programs have issues with 64bit python and recommend 32bit python even on 64bit systems.  which is preferred for QTodoTxt?

thanks

[2016-04-15 17:56] oroulet commented on #242
uploaded to pipy!

[2016-04-15 17:57] oroulet commented on #245
whatever you want

On Fri, 15 Apr 2016 at 19:40 sttrebo <notifications@github.com> wrote:

[2016-04-18 22:35] sttrebo commented on #221
i'm able to build the windows binaries/installer fine, but currently i can only build the v1.5.0 branch.  i'm not able to get the 'master' branch running yet either by running from the source or building an installer.
no idea how to upload the installer here so i can either share a link to my cloud drive or i can email to someone with the rights.  let me know if interested.

[2016-04-19 13:35] zefilipe commented on #242
Hi !
I upgraded qtodotxt, and its fantastic, great job ;-)

I think that a feature may be very useful, is shows beyond the number of todo tasks, the number of the done tasks !

Example:
how has 8 done tasks and 2 todo tasks in context @Qtodotxt
At this times shows: Qtodotxt(2)
But in a future will be better and most complete shows: Qtodotxt(2,8)

Regards

[2016-04-19 16:39] oroulet commented on #242
I agree. Will be next time, if you do not find bugs I will release 1.6.

On Tue, Apr 19, 2016, 15:36 zefilipe <notifications@github.com> wrote:

[2016-04-19 23:29] sttrebo opened #246 "Help icon"
running v1.5.0, latest sources.  On the new and edit task dialog, when you select the '?', the only thing that happens is the screen cursor changes to a red circle with a line thru it.  the cursor stays changed until another selection is made.
![dsc_0136](https://cloud.githubusercontent.com/assets/2676482/14658842/c19b4510-064b-11e6-9a49-558a29bbf63c.JPG)

[2016-04-20 23:31] sttrebo opened #247 "Context Menu"
running v1.5 (latest sources under windows).  context menu (right click) works fine when a task is selected, but it would be nice to be able to create a new task from a context menu also (right-click - new).

thanks

[2016-04-21 04:54] oroulet commented on #247
How did you install 1.5? I am trying to stabilize 1.6 (the latest code on master github) could you try this one? It has many many changes...

[2016-04-21 05:38] sttrebo commented on #247
i ended up building a windows installer per the instructions, pretty easy and worked just fine.  i have tried running v1.6 from the source but have not had any luck at all.  not sure what i need to do differently.  if i can run v1.5, shouldn't v1.6 run also or is there a different Python/Qt environment?

[2016-04-21 05:46] oroulet commented on #247
1.6 requires pyqt5 and  not pyside/qt4.This should betheo nly difference

On Thu, Apr 21, 2016, 07:38 sttrebo <notifications@github.com> wrote:

[2016-04-21 05:48] oroulet commented on #247
And pyqt5 comes with winpython. So no need to compile anything. Should take
5 minutes download

On Thu, Apr 21, 2016, 07:45 Olivier Roulet-Dubonnet <
olivier.roulet@gmail.com> wrote:

[2016-04-21 15:34] sttrebo commented on #247
must be something with my system.  this is what i get.  can anyone help?

installed python-3.4.4.amd64.msi
installed PyQt5-5.5.1-gpl-Py3.4-Qt5.5.1-x64.exe
from cmd line confirmed that python34 is in path
from cmd line (in /bin directory) ran python.exe qtodotxt.pyw
![python error](https://cloud.githubusercontent.com/assets/2676482/14714951/e0873d34-079b-11e6-9cf3-ce128428ca02.jpg)

[2016-04-21 17:14] oroulet commented on #247
As the error days install dateutil module. Not sure how to do it on Windows.
It is probably easier to install winpython which has all dependencies

On Thu, Apr 21, 2016, 17:34 sttrebo <notifications@github.com> wrote:

[2016-04-21 18:22] sttrebo commented on #247
finally got winpython to load it and run it ok.  for some reason my system balks at running winpython from 'my apps' (i guess it didn't like the space between 'my' and 'apps'.

[2016-04-21 20:05] sttrebo opened #248 "v1.6 (4/21 files) early feedback"
now that it's running for me (Win7-Enterprise) a few things i've noticed:

1. Help icon, same non-function as I reported for v1.5
2. Toolbar icon for show filters has no .bmp
3. Toolbar icon for show future tasks has no .bmp
4. Help-About shows v1.5.0
5. enable system tray in settings doesn't seem to do anything

do you have a change log of v1.6 over v1.5?

[2016-04-22 08:07] oroulet commented on #248
You mean svg icons are still not supported on Windows?

[2016-04-22 08:08] oroulet commented on #247
Please close issues that are fixed. Is this one still relevant?

[2016-04-22 13:08] sttrebo commented on #248
I'm no expert, but I came across this...
https://medium.com/@webalys/die-png-die-how-to-use-vector-icons-in-your-apps-d884c9c63e93#.kf3n6bm8f

[2016-04-22 13:11] sttrebo commented on #247
context menu 'new' is still relevant and would be nice in v1.6.  would you prefer i open up a new issue instead of threading off this one?

[2016-04-22 13:19] oroulet commented on #248
What are the symptoms? Missing icons?

On Fri, Apr 22, 2016, 15:08 sttrebo <notifications@github.com> wrote:

[2016-04-22 15:28] sttrebo commented on #248
yes, but the buttons work fine.
![clipboard01](https://cloud.githubusercontent.com/assets/2676482/14746376/23502478-0864-11e6-955e-3113bd47384f.jpg)

[2016-04-23 16:50] oroulet commented on #246
seems to be something very windows specific, this icon does not exist on linux...nnot sure how to fix such a thing...

[2016-04-23 17:05] oroulet commented on #248
commited a fix fo all thes, but the help stuff. Can you check it works with latest master?

[2016-04-25 15:35] sttrebo commented on #248
2, 3, 4, &5 all look good.

thanks

[2016-04-25 15:35] #247 closed

[2016-04-25 17:03] #248 closed

[2016-04-26 06:59] f8ttyc8t commented on #243
At first: I am a Python newbie. So I think described behavior is because of that fact.
My problem: immediately after firing up python, QTodoTxt terminates with result below:
D:\Development\Python\QToDoTxt.beta\QTodoTxt-master\bin>python qtodotxt.pyw
Traceback (most recent call last):
  File "qtodotxt.pyw", line 28, in <module>
    app.run()
  File "..\qtodotxt\app.py", line 72, in run
    controll

[2016-04-26 07:14] f8ttyc8t commented on #243
Additional note/workaround:
After commenting out lines #378 and #379 of file "\qtodotxt\ui\controllers\main_controller.py" app starts up as expected.

[2016-04-26 07:20] oroulet commented on #243
Thank you for the report. This was an issue when having no config file (of
course all developers have, this is why we did not catch it). I pushed a
fix, try to update with pip

On Tue, 26 Apr 2016 at 09:14 f8ttyc8t <notifications@github.com> wrote:

[2016-04-26 07:32] f8ttyc8t commented on #243
Great! Works like a charm now!

[2016-04-26 19:07] Schroedingers-Cat commented on #116
I'd love to test version 1.5, but I don't have any experience with Python on Windows. So this may be noob questions ...
I installed WinPython 64 Bit 3.4.4 with QT5, downloaded the latest PySide (a *.whl file) and moved that to WinPythons Lib-Folder. Then I opened a terminal and started `python Path-To-qtodo.pyw`. However, I'm getting the following error:
[code]

[2016-04-26 20:11] oroulet commented on #116
If you installed winpython, start a winpython shell and write pip install qtodotxt --pre. Then it will work

[2016-04-26 21:04] Schroedingers-Cat commented on #116
Thank you!
The first start went successful. After quitting QTodoTxt 1.5 however, I got an error message (stopped working) and now, I cannot start QTodoTxt anymore:
[code]

[2016-04-27 04:56] oroulet opened #251 "Missing shortcuts for hide/show completed/future/sidebar"
Any suggestions for shortcuts? Is qtodotxt following some standard?

[2016-04-27 11:03] f8ttyc8t opened #252 "Building v1.6 for Windows"
Tried to build Windows binarie as described (involving Inno Setup, using non-unicode as well as unicode version).
Using WinPython WinPython-64bit-3.4.4.2Qt5, I received error:

error: [Errno 2] No such file or directory: 'C:\\Python34\\Lib\\site-packages\\PyQt5\\plugins\\imageformats\\qico4.dll'

For sure, my python installation is not located there.
Since I've installed PyQt5, dll name is "qico.d

[2016-04-27 11:17] f8ttyc8t commented on #252
Addendum:
if someone uses python 3.5.x as base python version, it is required to install python-dateutil before.
e.v. via "pip install python-dateutil"

[2016-04-27 11:41] oroulet commented on #252
Try to modify the files under packaging/Windows . It looks like you already know what you need to modify :+) then send pull request

[2016-04-27 13:22] f8ttyc8t commented on #252
Indeed.
But I am still not able to support the project by delivering windows installer.

[2016-04-27 15:43] sttrebo opened #255 "[wishlist]: support for repeating tasks"
Thanks for the update to v1.6.  So far everything looks great (except for the help icon thing, but no big deal).  I was looking forward to the next version and I was hoping you'd look at repeating tasks.  I know it's a bit of a divergence from the basic todo.txt formatting, but simpletask for android (https://github.com/mpcjanssen/simpletask-android) adds additional options to allow for the use of

[2016-04-27 16:57] cjrobe opened #256 "1.6 changelog?"
Apologies if I'm missing it but I don't see a changelog for 1.6. Just this old wiki page that hasn't been updated in a while.

https://github.com/QTodoTxt/QTodoTxt/wiki/Changelog

Thanks and look forward to trying the new release.

[2016-04-28 06:21] oroulet commented on #256
here: https://github.com/QTodoTxt/QTodoTxt/releases

can you update the wiki?

[2016-04-28 06:21] oroulet commented on #252
What is you issue? do you get error message?

[2016-04-28 06:26] f8ttyc8t commented on #252
No error message. Entire process (python setup.py py2exe) succeeds, install package is generated properly.
Also, installation of QTodoTxt using installer works as expected.
But QTodoTxt.exe won't start. Launched executable immediately terminates, without any log/message at all.

[2016-04-28 06:37] oroulet commented on #252
even you start exe in a cmd window?

On Thu, 28 Apr 2016 at 08:26 f8ttyc8t <notifications@github.com> wrote:

[2016-04-28 06:37] oroulet commented on #252
even if you start exe in cmd window?

On Thu, 28 Apr 2016 at 08:37 Olivier Roulet-Dubonnet <
olivier.roulet@gmail.com> wrote:

[2016-04-28 07:05] f8ttyc8t commented on #252
Yes, tried cmd also.
I also switched between 32/64 bit version and unicode/standard version of Inno Setup.
Tried it in virtual machine (naked, without Python installed) as well as on machine having Python installed.

[2016-05-02 07:12] mimmori commented on #255
+1!

[2016-05-02 07:13] oroulet commented on #255
This is not on my TODO list, so there is room for anyone interested to
implement this.

On Mon, 2 May 2016 at 09:12 mimmori <notifications@github.com> wrote:

[2016-05-06 12:37] f8ttyc8t commented on #252
Finally managed to build Windows installer including running qtodotxt.exe

Maybe someone can explain how to push modifications + installer?

[2016-05-06 14:27] oroulet commented on #252
I will check this asap maybe I can make you a member of group. I created a
release on github , we can add binaries there

On Fri, May 6, 2016, 14:37 f8ttyc8t <notifications@github.com> wrote:

[2016-05-06 14:31] f8ttyc8t opened #258 "Autoarchive does not work (windows version)"
Even if "AutoArchive" is activated in settings, QTodoTxt does not automatically archive them.

Manually initiating archivation (via "Archive Completed Tasks" button in upper toolbar) works as expected.

[2016-05-06 15:08] f8ttyc8t commented on #258
Seems to be related to default settings.
Toggling settings seems to solve that.

[2016-05-06 15:35] oroulet commented on #258
Can you find exactly when this happens? Is it the first start which is the
issue?

On Fri, May 6, 2016, 17:08 f8ttyc8t <notifications@github.com> wrote:

[2016-05-09 15:03] f8ttyc8t commented on #258
Seems to be my fault.

I've tried:
1.) installed new instance of WinPython (3.4.4QT)
2.) Stated python bin\qtodotxt.pyq
3.) Opened \examples\todo.txt file
4.) completed task (by pressing "x").  item was moved to sub-tree "Complete"
5.) opened settings. AutoArchive was already set to autoarchive
6.) toggled flag
7.) Closed app
8.) Opened app again (not sure whether step 7&8 are required)
9.) comple

[2016-05-09 15:12] oroulet commented on #258
Thanks. Could you document behavior in wiki?

On Mon, May 9, 2016, 17:03 f8ttyc8t <notifications@github.com> wrote:

[2016-05-09 17:44] f8ttyc8t commented on #258
Done.

Btw.: if there are no settings stored yet (e.g. during first run), auto safe is enabled by default but app behaves as if auto-archive is disabled.
By tracing settings I found user has to toggle settings once before settings get saved (and therefore could be used as expected)

[2016-05-11 18:07] oroulet commented on #258
Ok thanks, will fix this

On Mon, May 9, 2016, 19:44 f8ttyc8t <notifications@github.com> wrote:

[2016-05-12 06:32] mimmori commented on #252
Any news regarding the windows installer? I would use it at work where i cannot install Python...

[2016-05-12 07:22] oroulet commented on #252
@mNantern can you invite @f8ttyc8t to qtodotxt group? Or even better make me an admin since it looks like I am the only maintaining the project for the time being.
@f8ttyc8t when you become a member you will be able to edit 1.6.0 release at https://github.com/QTodoTxt/QTodoTxt/releases and add your release there. Then it would be great if you can fix the links in the README to point there.

[2016-05-12 17:18] f8ttyc8t commented on #252
Will upload as soon I get access - will be my pleasure!

[2016-05-12 17:21] oroulet commented on #252
Let us hope @mnantern answers soon, otherwise we will need to fork again

On Thu, May 12, 2016, 19:18 f8ttyc8t <notifications@github.com> wrote:

[2016-05-12 17:24] mNantern commented on #252
It's done @oroulet , have fun !

[2016-05-12 18:07] f8ttyc8t commented on #252
Struggling with how to upload binary release. Might last some time till I found how to do...

[2016-05-12 18:09] oroulet commented on #252
@mNantern thanks!

[2016-05-12 18:11] oroulet commented on #252
@f8ttyc8t I just invited you to become a member. when you have accepted I can give you the rights on this repository

[2016-05-12 18:13] oroulet commented on #252
@f8ttyc8t if you have access you will be able to click edit on the release and the upload a binary. Let me know if it works by default or if I need to give you some special rights

[2016-05-12 19:12] f8ttyc8t commented on #252
@oroulet thank you, now I had option to edit release.
Uploaded installer and replaced link in readme.md

[2016-05-13 05:55] oroulet commented on #252
Thank you for the help! could you also create a push request with the changes you made to compile the code? and maybe update the wiki?

[2016-05-13 07:34] f8ttyc8t commented on #252
Sorry, I am not familiar with git (using svn).
I've issued a push command. Is this enough or do I have do so something else?

[2016-05-13 08:04] oroulet commented on #252
Well. Then you should really try to learn git. it makes development so much easier...
You need to clone repository
make your changes
push your changes
create a PR in github UI

If you really do not want to do that then do a copy paste of diff in github gist or whatever

[2016-05-13 08:20] f8ttyc8t commented on #252
Steps 1-3 already done.
But do not know how to "create a PR in github UI"
(Honestly, I am overcautious because I am afraid to mess up your repo)

[2016-05-13 08:25] oroulet commented on #252
made a small mistake here:
clone -> fork
in github go to qtodotxt repository and click "FORK"
clone locally
make changes
push
the changes should then be visible on your fork in github and a green button should wayt for you saying: create a pull request.

[2016-05-13 09:33] f8ttyc8t commented on #252
Done (probably...)

[2016-05-13 12:06] f8ttyc8t commented on #252
Updated wiki also.

[2016-05-13 12:06] #252 closed

[2016-05-15 06:01] oroulet commented on #258
found out I probably already fixed this in a PR I forgot to merge. Just pushed to master. Can you test it? if it works we'll make a 1.6.1 release

[2016-05-17 07:28] f8ttyc8t commented on #258
Fixed the issue.
Added some additional fixes (version number now became 1.6.1 in About-dialog also, Windows-app now also has QTotoTxt-logo a icon).

How to proceed?

[2016-05-17 07:39] oroulet commented on #258
Yes fork, make your changes and open PR again ( you can avoid fork and just update your clone if you want but it might require rebasing)

[2016-05-17 08:05] oroulet commented on #258
Looks like you created a new release. You need to make a pull request with the fixes first :-).

[2016-05-17 08:11] f8ttyc8t commented on #258
Hm.
I've forked and cloned project. Them I modified files. After that I've commited changes + pushed them.
So I assumed that's all I need to do.

Did I miss something?

[2016-05-17 08:28] oroulet commented on #258
There is no commit from you todayso I guess you committed in your own branch. Then we should never commit directly to main branch, but commit to personal branch (as you did) then create PR. Thus other can review your changes and we avoid many errors...

[2016-05-17 09:11] oroulet commented on #258
If you navigate to your fork on github, you will be asked if you want to create PR.

[2016-05-17 10:06] f8ttyc8t commented on #258
Done.

[2016-05-17 14:01] oroulet commented on #258
Your release was pointing to wrong commit. I recreated a v1.6.1 releae. Can
you re-upload your exe file? thanks

On Tue, 17 May 2016 at 12:06 f8ttyc8t <notifications@github.com> wrote:

[2016-05-17 14:22] f8ttyc8t commented on #258
Uploaded.
Sorry for causing troubles.
Code looks OK.

[2016-05-17 14:33] oroulet commented on #258
No pb! Thanks for the help again!

On Tue, May 17, 2016, 16:22 f8ttyc8t <notifications@github.com> wrote:

[2016-05-17 14:36] f8ttyc8t commented on #258
It's my pleasure!

[2016-05-17 14:36] #258 closed

[2016-05-27 20:29] sttrebo opened #261 "Delete tasks"
Sometimes I make a mistake and add a task that I don't want.  Looks like in v1.6 the 'del' doesn't work.  Was this intentional?

[2016-05-28 05:57] oroulet commented on #261
This is now an option to enable delete action in preferences. Is it enabled?(need restart) if delete does not work when delete i enabled then it is a bug

[2016-05-28 10:59] oroulet commented on #261
tested on my pc and it works when delete is enabled

[2016-05-28 14:56] sttrebo commented on #261
found it, sorry about the false alarm.  no idea how i missed that.

[2016-06-16 08:10] #261 closed

[2016-06-23 09:12] zefilipe commented on #251
Maybe in the future, has in preferences a section shortcuts, that each person can costumize as this likes, and do no conflict with other system shortcuts ;-)

[2016-06-23 09:30] zefilipe opened #262 "Create task does not auto complete projects and contexts"
Hi !

I'm using the lastest qtodotxt pre version !

And in this week, i created task and the auto complete does not work :-(
I type + for the project and does not happends nothing, the somme for @ contexts
But i only had done tasks, and no one todo tasks (option auto archive disabled in prefs)

Yesterday i had a one todo task, like this example
+qtodotxt @prefs create a section for shortcuts

and

[2016-06-24 08:43] pypardo opened #263 "Win32/Zwangi detected"
Hi All,
I apologize if it's not the right place.
**Win32/Zwangi** detected in qtodotxt.exe 1.6.1 for windows .
Detected with f-secure.
Regards

[2016-06-27 18:42] kmicc commented on #263
Thank you for reporting this issue. This is absolutely the right place. Some questions:
* Did you download the exe from github?
* Did the alert occured in the downloaded "qtodotxt_1.6.1.exe" (i.e. in the installer), or in the installed files (i.e. after installing the software)?
* Could you repeat the scan with updated signatures of your virus scanner? Virustotal (see https://www.virustotal.com/de

[2016-06-27 19:57] oroulet commented on #263
Isnt that email just spam?

On Mon, 27 Jun 2016 at 20:42 kmicc <notifications@github.com> wrote:

[2016-06-27 20:05] oroulet commented on #263
Of course the person that generated the exe might have had a virus..

[2016-06-27 20:20] kmicc commented on #263
That would be the worst case. But it could also be a false positive. Had that problem with another virus scanner when compiling an empty Qt template project under windows.

[2016-06-28 14:35] pypardo commented on #263
Hi All,
the alert occurs after an update to f-secure
When I first download qtodotxt installer (from github) nothing happened.
I use qtodotxt for some weeks, and after an anti-virus update it raises an
alert.
I'll retry an anti virus scan.

I do think it's a false positive, but I prefer to signal it .

Sorry for my poor english, I'm french :)

Regards
pierre

2016-06-27 22:20 GMT+02:00 kmicc <notif

[2016-06-30 19:13] el-Salmon opened #264 "[Improvement] No help and shortcuts"
There is no _Help_ command in the menu bar to display the [usability](https://github.com/QTodoTxt/QTodoTxt/wiki#use-it) of QtodoTxt. Also, the [shortcuts](https://github.com/QTodoTxt/QTodoTxt/wiki#useful-shortcuts) should be displayed for each command (only if has shortcut, of course) in the menu bar.

[2016-07-11 09:02] f8ttyc8t commented on #263
Hi Pierre,
did you cross-check it using on-line scanners also?
Because I created package but - at least I think so - my system is without any infections.

Anyhow, thank you for informing us/me!

(Btw. sorry for late reply, was at vacation...)

[2016-07-11 09:21] pypardo commented on #263
Hi All,
and sorry for delay too.

I double-check (triple-check in fact) with other anti-virus and detect
nothing inside package.

My first anti-virus (F-Secure) has been updated since first virus
detection, and do not detect anything right now.
Maybe a bad F-Secure update.

I apologize for alerting you (but I think it's better thave a false alert,
instead of a true virus).

Regards,
and thanks for

[2016-07-11 14:55] #263 closed

[2016-07-12 21:04] dddw commented on #146
I have the same issue. Also on OS X 10.7.5

Here a crash report:
http://pastebin.com/n0Y9TRb1

[2016-07-24 06:56] alexkutsan opened #265 "List of dependencies"
Probably it would be useful to create list of depencenciews for building and running QTodoTxt.
Because I just wanede to install it via pip and get an error:
[code]

[2016-07-24 07:43] oroulet commented on #265
dependencies are specified in setup.py file. It might be that pyqt5 is omitted to avoid triggering unwanted compiling. This might be wrong and you are welcome to add it and send a patch if you thing it is more correct

[2016-07-24 07:43] oroulet commented on #265
but you should really consider installing pyqt5 using your os packages and not pip :-)

[2016-07-25 18:52] kmicc commented on #146
I strongly suppose this is due to the bad (or missing) configuration file, version 1.4 is shipped by default. Will have a look and answer in more detail the next days.

[2016-07-26 17:03] topas-rec opened #266 "Debian package missing for Version 1.6.1"
There is no packaged Ubuntu .deb package for version 1.6.1.
(I was able to generate one and attached it to this issue. The readme mentioned to contact the authors but I didn't find an email of anyone)
I didn't do any tests with the generated package. I found out that there should be done specific tests mentioned in the readme file but they are meant for altered sources I think. Please comment if I

[2016-07-26 19:53] kmicc commented on #146
No idea if it is possible to read out something useful from the provided crash report - I can't. For me, version 1.4 does run under OS X 10.11, but I can't remember whether I had to do some modifications before it worked (installed it some time ago). Some ideas:
- Did you meet the [prerequisites,](https://github.com/QTodoTxt/QTodoTxt/wiki#prerequisites) i.e. is PySide installed?
- Please check whe

[2016-07-26 21:11] oroulet commented on #266
Thanks! I will try to upload it, but I am without good network connection a few days

[2016-07-27 05:49] topas-rec commented on #266
Nice. It would be nice to have a feedback of everything is okay with the package since I did  this for the first time.

[2016-07-28 22:32] partnerwerk commented on #266
The package worked after I followed the instructions on prerequisites for version < 1.6

Thank you for making it available

[2016-07-29 04:14] topas-rec commented on #266
Perfect - than you for testing.

[2016-07-29 17:26] oroulet commented on #266
should be done now

[2016-07-29 22:01] topas-rec commented on #266
Double checked that the actual link points to a version 1.6.1 deb-file.
Issue closed.

[2016-07-29 22:01] #266 closed

[2016-08-03 08:46] partnerwerk opened #267 "AutoKey inputs are turned into lowercase"
Using AutoKey in conjunction with QTodoTxt would be close to paradise. However QTodoTxt alters the phrases which AutoKey provides.

Examples: I have set context "@Office" in Autokey and set an keyboard abbreviation "qo".
Typing "qo" followed by spacebar would type "@Office" in any program. It does so in text editors but in QTodoTxt it is turned into "qoffice". The same happens to ":" when used in

[2016-08-05 07:58] sercxanto commented on #255
+1

[2016-08-05 08:01] sercxanto opened #268 "1.6.0 How to delete tasks?"
I just updated to version 1.6.0 on Windows. Deletion of tasks with "del" key is not longer working (compared to version 1.4). Also I didn't find a context menu entry.

[2016-08-05 14:22] topas-rec commented on #268
I think I've seen something like "show delete task button" somewhere in the preferences or options in 1.6.1.
Can you try this?

[2016-08-05 14:59] oroulet commented on #268
Will change default for next release.

On Fri, Aug 5, 2016, 16:22 topas-rec <notifications@github.com> wrote:

[2016-08-05 15:49] sercxanto commented on #268
Sorry and thanks for the hint. I didn't notice that this is an option now. In fact when this option is checked there is a entry in the context menu and the delete shortcut works like before.

[2016-08-05 15:49] #268 closed

[2016-08-12 17:57] nh3oh opened #269 "Debian System Tray : No Icon"
Hi !

I'm using **QTodoTxt 1.6.0**   under **XFCE4.10 / Debian8.5**
I installed the **pre-build .deb pkge** from this site using **Gdeb**i.

**_Every thing works fine ... THANKS !_**

The only little trouble, I 've found :

**Enabling the system tray option :**
**the room for the QTodoTxt icon remain empty**

I try to copy the existing icon files from :

[code]

to :

[code]

as I usually use **Ad

[2016-08-13 07:33] topas-rec commented on #269
I can confirm this for Ubuntu 16.04 too. The tray icon appears but as son as one opens it - it is empty.
(I don't need this feature but these observations are relevant for this issue)

[2016-08-13 07:55] nh3oh commented on #269
I gave a try with  the same package under Mate 1.8.1 / Debian 8.5
=> No empty space in the system tray, at all.

[2016-08-13 08:00] oroulet commented on #269
I have never used tray stuff. Fell free to have a look at code. It is handled in the entry script as far as I remember

[2016-08-13 09:15] nh3oh commented on #269
I'm very verrrry newby with that's stuff about coding ... no idea about python :-(

Don't know if I do RIght ?

I 've cloned localy the git repository : https://github.com/QTodoTxt/QTodoTxt.git

in app.py

I've found lines (23->28)

	def _initIcon(self):
		view = self._controller.getView()
		icon = getIcon('qtodotxt.png')
		QtWidgets.QSystemTrayIcon.init(self, icon, view)
		self.activated.connect(

[2016-08-13 09:50] oroulet commented on #269
Does this work if you or the icon in same directory as the one you start qtodotxt? If so find out the path used for other icons and , fix the path and put the icon in same directory. That should work.

[2016-08-13 09:51] oroulet commented on #269
... If you put... Stupid phone completion

[2016-08-13 12:43] nh3oh commented on #269
I'm not sure to undertand your advise very well

I've tried :

[code]

each directory containing a **qtodotxt.png** icon file

and it comes always the same issue.

[2016-08-22 08:19] tzipperle opened #270 "Font Size Windows"
It is possible to change the font size under Windows?

[2016-08-22 18:33] kmicc commented on #270
See #119. No idea whether the described method works - please let us know.

[2016-08-23 07:46] celmi commented on #88
I'd love to have that feature. I often work project-focused, and going through the to-do list of a project I'dlike to add multiple to-do's quickly. It would be very cool not to reenter the project-markup every time.

Instead of / additionally to / an option "create new task based on selected" I envision a shortcut like CTRL-SHIFT-N which would automatically insert the context-markup or project-mar

[2016-08-24 02:24] anacondaqq commented on #88
maybe better add repeatable tasks?

[2016-08-24 05:30] topas-rec commented on #88
Your feature request is already filed under: https://github.com/QTodoTxt/QTodoTxt/issues/255

[2016-08-24 05:31] topas-rec commented on #88
You could comment there to support this feature.

[2016-08-24 06:00] celmi commented on #88
No, Sorry, this is not the same as repeatable tasks! This feature request here is all about effortlessly creating SIMILAR tasks (e.g. same project- or same context-markup or both) on the fly. It's not about entering the same task over and over again.

[2016-08-24 16:52] topas-rec commented on #88
Sorry for being not exact enough:
I meant that the alternative that anacondaqq mentioned ("maybe better add repeatable tasks?") is already a feature request filed under #255.

[2016-08-24 16:53] topas-rec commented on #88
Your feature, celmi, would be nice to see in QTodoTxt. +1
(Simpletasks on android allows you to do this already)

[2016-08-30 07:22] celmi opened #271 "wishlist: drag and drop task to re-schedule due-date"
It would be very cool, if I were able to re-schedule the due-date of tasks by simply dragging them into a different time-slot on the side bar (e.g. from "overdue" to "tomorrow" or from "this week" to "this month".

[2016-09-01 06:14] celmi opened #272 "(wishlist) auto-date-setting: allow configuration for work-weeks / omitting weekends"
I'm using qtodotxt for managing my projects at work. For me, "end of week" should be friday (not sunday).
It would be cool if I could have a setting sowewhere to omit weekends from these date-setting functionalities (also for example "next workday" instead of tomorrow, etc.)

I agree that this is probably not highest priority, but who knows..?

[2016-09-01 23:56] fuchsmich opened #273 "Crash on very first start"
In an environmen where the app starts for the first time, it crashes:
`traceback (most recent call last):
  File "/usr/bin/qtodotxt", line 13, in <module>
    app.run()
  File "/usr/share/qtodotxt/bin/../qtodotxt/app.py", line 72, in run
    controller.show()
  File "/usr/share/qtodotxt/bin/../qtodotxt/ui/controllers/main_controller.py", line 174, in show
    self._updateView()
  File "/usr/share/

[2016-09-02 05:02] oroulet commented on #273
Thanks. Need to look at that one. I found a fix in another app I maintain

On Fri, Sep 2, 2016, 01:56 Michael Fuchs <notifications@github.com> wrote:

[2016-09-02 05:03] oroulet commented on #272
Make sense

On Thu, Sep 1, 2016, 08:14 celmi <notifications@github.com> wrote:

[2016-09-04 11:12] swiesmann commented on #273
I just encountered the same issue. Thanks @fuchsmich for reporting and the temporary fix.

[2016-09-04 15:15] oroulet commented on #271
Should be easy to implement. You should try

On Tue, Aug 30, 2016, 09:22 celmi <notifications@github.com> wrote:

[2016-09-05 06:17] celmi commented on #271
I wish I could... (my programmings skills are rusty).

However I'd very willing to contribute money / pay a license fee, if that would help more capable people allocating some time to this wonderful little software-tool.

[2016-09-05 06:27] celmi opened #274 "wishlist: collect money to attract programmers"
I think QTodoTxt is a wonderful little tool and overall one of the best todo.txt -compatible desktop software available today.
Sadly, noone has time to hunt bugs and add further improvements. I am no exception, I lack both time and skill.
However, I would be more than happy to contribute money, if that would help capable people to spend time on improving QTodoTxt. I don't know how large or small t

[2016-09-05 06:38] oroulet commented on #273
https://github.com/QTodoTxt/QTodoTxt/pull/275

Please test

[2016-09-05 07:25] oroulet commented on #274
My own experience with this is that activity creates activity, try to fix very simple things, create PR,  ifx icons, bugs and usually people come. I have fixed all things I wanted (but one) so I have not been very active lately, but I can support people interesting to fix/improve things.

[2016-09-05 08:16] celmi commented on #274
I understand your point.  Maybe one could avoid the activity-activity problem with a specific bounty for top-priority problems... (e.g. don't crash if .txt file isn't found). Or top-enhancement features... But yes, all in all it will cost time/money just to manage a smalltrack bug-feature-bounty-program :(

[2016-09-05 08:25] topas-rec commented on #274
Hello all. I'm following this project for a few months since I found todo.txt and its android app simpletasks which I like very much. I also think that this is the best desktop app so far.
However, I am a programmer also with some Python skills but time is a problem for me too. I always thought since in following that one day I would start contributing to this project. (I don't know when I will st

[2016-09-05 09:23] oroulet commented on #274
@topas-rec open-source projects are impossible to plan :-) scratch your hitches and see what happens.
But I agree that a simple list of classified and prioritized bugs might be a good idea. I am wondering if this should be done inside one bug /wiki or simply by using the bug tagging system or make the bounty stuff if you know how @celmi

[2016-09-05 10:07] celmi commented on #274
I most likely have the least experience in organizing anything IT related here.

Maybe, to keep things as simple as possible, it would be most efficient to have one issue called "Roadmap" where the active developers (to which I certainly not belong) are able to set, discuss and re-order priorities.

As for a bounty system: I don't have a clue. I was going to suggest that for each bounty there shou

[2016-09-05 10:28] topas-rec commented on #274
I also think that planning is not possible @oroulet. I think using the bug tracking/tagging system for keeping track of bugs is a good idea. With good tags (I think of "priority high", " wishlist", "feature request", "urgent", " bug ", " major/minor " or "roadmap") a roadmap does not have to be made separately but could be generated by evaluating tags.

[2016-09-05 10:31] topas-rec commented on #274
I found an intense use of tags here.
https://github.com/mpcjanssen/simpletask-android/issues

[2016-09-05 14:42] zefilipe commented on #274
In the fact, i'm very amazing with this app, and talk about develop somme features to qtodotxt, but my work fill all my time, leaving only a small lot of minutes by day ... !

But if i dont had any work, i worked in qtodotxt and another FOSS projects, because i love work in open source projects ;-)

Regards

[2016-09-05 17:39] swiesmann commented on #273
Worked for me :+1: I removed `~/.config/QTodoTxt` and after that it started without the error. Thanks!

[2016-09-12 18:32] ehabkost opened #276 "Exceptions/abort while entering regexp on search box"
Running v1.6.2 directly from git clone.

Steps to reproduce:

1) Open `qtodotxt` in a terminal
2) Type `^[` on the search box
3) See the following on the terminal:

    $ qtodotxt
    Traceback (most recent call last):
      File "/home/ehabkost/system/soft/QTodoTxt/bin/../qtodotxt/lib/filters.py", line 372, in isMatch
        mymatch = re.search(restring, task.text, re.I | re.U)
      File "/usr/

[2016-09-16 10:25] PKEv opened #277 "autostart"
Please add the option autostart

[2016-09-16 10:28] PKEv opened #278 "minimize to tray"
Add the ability to minimize to tray when closing the app

[2016-09-30 19:06] simonwiles commented on #278
would you be interested in a pull-request for this issue?  if so, would you want a preferences item to toggle this behaviour and the current behaviour, or do you have other ideas?

(For a while now I've been using a version of QTodoTxt 1.3 which I hacked to do this; I should be able to clean up my hacks and make sure they apply cleanly to the current trunk without too much difficulty.  Can't promi

[2016-09-30 19:10] oroulet commented on #278
All PR are welcome!

On Fri, Sep 30, 2016, 21:06 Simon Wiles <notifications@github.com> wrote:

[2016-09-30 19:11] oroulet commented on #278
Should be an option. Not everybody want that kind of things...

On Fri, Sep 30, 2016, 21:10 Olivier Roulet-Dubonnet <
olivier.roulet@gmail.com> wrote:

[2016-10-10 15:56] sttrebo commented on #144
as opposed to a second instance/todo file, how about some sort of persistent filter.  for example, i have a number of "private" actions that i don't necessarily want displayed on my PC at work.  could there be a preference setting outside of the normal filtering that would allow a boolean not "private" to be maintained outside of the standard filtering?

[2016-10-11 08:05] PKEv commented on #12
closed by #279

[2016-10-11 08:05] PKEv commented on #278
closed by #279

[2016-10-12 17:33] PKEv opened #282 "Offer ergonomics"
The difficulty arises with the use of tags when writing tasks, due to the lack of the @ symbol in my keyboard.
Can add more buttons to the dialog box "Add task" by which you can dial special characters?

[2016-10-13 08:12] #278 closed

[2016-10-13 08:25] dkaparis opened #284 "About dialog shows 1.6.1 in 1.6.2 release."
As in title.

[2016-10-13 19:00] PKEv opened #285 "Program crash when searching for "+""
The fall apparently caused by the fact that the search string is interpreted as a regular expression, where the symbol "+" is a official

[2016-10-14 09:33] mimf opened #286 "Doesn't start/run on Ubuntu 16.04"
I installed qtodo using the .deb that you provide. Upon trying to open it, I get the following error message:

[code]

[2016-10-14 09:50] PKEv commented on #286
Install dateutil (pip install python-dateutil)

[2016-10-14 10:01] oroulet commented on #286
Then we should open a bug request. The deb should include dependency on dateutil

[2016-10-14 10:01] oroulet commented on #286
Bug report

[2016-10-14 10:01] #286 closed

[2016-10-14 10:45] oroulet commented on #286
Python3 dateutil?

On Fri, Oct 14, 2016, 12:06 mimf <notifications@github.com> wrote:

[2016-10-14 13:32] mimf commented on #286
I did "pip install python-dateutil". It installs python-dateutil 2.4, which, according to this [link](https://labix.org/python-dateutil), is for python3.

[2016-10-14 13:36] oroulet commented on #286
On Ubuntu use pip3

On Fri, Oct 14, 2016, 15:32 mimf <notifications@github.com> wrote:

[2016-10-14 21:40] PKEv opened #289 "Question about multi-line"
Implementation of the multi-line task entry: was made a separate branch and it was abandoned... why?
what is the fundamental difficulty?

[2016-10-15 05:49] oroulet commented on #289
Hi,
The implementation was half baked, completion were appearing at wrong
place, etc....
My main issue was that i really would like to remove the dialog altogether.
There is no point having such a dialog, we can add a new line in todo list
and override the default editor. I started working on it then discovered
the dialog code was really horrible, not following any qt best practices,
so i am still

[2016-10-15 12:05] mimf opened #290 "Dark theme request"
It would be fantastic if QToDoTxt provided a dark theme.

[2016-10-17 18:29] #285 closed

[2016-10-18 06:18] PKEv opened #292 "Lacking an option of erasing"
Need an option to delete completed tasks

[2016-10-18 09:14] oroulet commented on #292
That is what the archive action does. Maybe it is not clear enough?

On Tue, Oct 18, 2016, 08:18 PKEv <notifications@github.com> wrote:

[2016-10-18 09:35] PKEv commented on #292
Ooo... I didn't think this option is needed for this
then the question is removed

[2016-10-18 09:35] #292 closed

[2016-10-19 20:47] #284 closed

[2016-10-19 20:50] PKEv commented on #276
closed via #288

[2016-10-19 20:50] #276 closed

[2016-10-19 20:53] PKEv commented on #242
closed via #295

[2016-10-19 20:53] #242 closed

[2016-10-19 20:54] #236 closed

[2016-10-19 21:14] PKEv commented on #150
can be closed?

[2016-10-19 21:20] #64 closed

[2016-10-19 21:21] #12 closed

[2016-10-21 11:08] PKEv commented on #246
closed via #293

[2016-10-21 11:08] #246 closed

[2016-10-21 13:19] #181 closed

[2016-10-21 13:33] #262 closed

[2016-10-22 22:38] #241 closed

[2016-10-25 14:45] lorentrogers opened #300 "Update qtodotxt.org"
The [website](http://qtodotxt.org/) is quite outdated. From the state of the news feed, I thought this project was dead. (Thankfully it's not!) Aside from updating the links to the latest releases and adding recent news, is there anything else that should be updated?

[2016-10-25 15:04] lorentrogers commented on #300
@mNantern Since the project is no longer under your account, I assume you're no longer the maintainer? I removed your link in the page, but I think you should be noted somewhere on it. Perhaps a credits section? We could mention all past contributors and current maintainers. Is there a list of these folks?

[2016-10-25 20:39] lorentrogers commented on #290
Agreed. Blinding white kills my soul.

[2016-10-25 20:58] PKEv commented on #290
Proposals, for the color scheme of the soul, are welcome for consideration

[2016-10-25 21:14] lorentrogers commented on #222
I'll just add that working with a todo.txt file in my Dropbox folder seems to be working very smoothly for me. Since the file is stored locally, app-specific integration may be overkill. (Just put the todo.txt file into that system and view it through qtodotxt.)

[2016-10-25 21:17] lorentrogers commented on #290
https://github.com/AnthonyDiGirolamo/todotxt-machine uses base16 and solarized. Both of which are pretty rad.

[2016-10-26 04:15] lorentrogers commented on #290
Poking through the code base, it looks like hard-coded color values are scattered throughout. I imagine we'd need to centralize this into a style sheet before we could look at changing themes in preferences.

E.g. https://github.com/QTodoTxt/QTodoTxt/blob/master/qtodotxt/lib/task_htmlizer.py#L37

[2016-10-26 04:28] lorentrogers opened #302 "Document task_htmlizer"
Looks like there's no documentation in this library. It would be helpful (and probably quick) to have someone who's familiar with this add in more info on the class.

Related to issue #290

https://github.com/QTodoTxt/QTodoTxt/blob/master/qtodotxt/lib/task_htmlizer.py

[2016-10-26 07:09] #300 closed

[2016-10-26 07:23] oroulet commented on #290
Yes, qtodotxt is one of the last light applications on my desktop.
qt has its own theme engine, so it should be possible to select a dark theme. I tried but did not find out how it works, qtconfig does not work anymore for qt5. Then qtodotxt has probably some harcoded colors. Maybe should add an option to select between light or dark theme and switch colors accordingly. patch and/or information we

[2016-10-26 11:56] anacondaqq opened #303 "[delete_me]"
nvm, there is no sense in it.

[2016-10-26 12:57] lorentrogers commented on #290
I tried changing the CSS file, and it did change the colors. The issue is just that the hard-coded stuff overrides it. First step would be to move everything from hard-coded into the css file, I assume.

I found this commit that seems to address a lot of the colors:
https://github.com/QTodoTxt/QTodoTxt/commit/7cbacae8e8a20dd657a23fbf7b0545843abe3837

[2016-10-26 15:21] lorentrogers opened #304 "Delete task missing?"
Version 1.4 for mac lets me delete an entry via the edit menu. Dev master branch on linux does not. Did we loose a menu item at some point? Is there no shortcut to delete a task? (Seems like a major oversight...)

[2016-10-26 15:33] lorentrogers opened #305 "Standardize the "quit" shortcut"
I've never seen `alt+F4` as the shortcut to quit an application. Is this a standard from somewhere? It seems like it makes more sense to have `ctrl+w` or `ctrl+q` be the default. (`option` on mac.)

And, there should probably be a confirmation dialog before you exit, but that's probably worthy of a separate issue.

[2016-10-26 15:41] oroulet commented on #290
I do not know anything about css in QT so I let you do the initial
investigations, or even better sen a patch ;-)

On Wed, 26 Oct 2016 at 14:57 Loren Rogers <notifications@github.com> wrote:

[2016-10-26 15:41] oroulet commented on #304
Look at options, I put an option for it but it was a mistake. Should remove
it

On Wed, Oct 26, 2016, 17:21 Loren Rogers <notifications@github.com> wrote:

[2016-10-26 16:05] oroulet commented on #305
No idea where the shortcuts come from. If you have ideas about standards,
send a PR

On Wed, Oct 26, 2016, 17:34 Loren Rogers <notifications@github.com> wrote:

[2016-10-26 16:17] lorentrogers commented on #304
I see - this should probably be checked by default. I was hunting for it and didn't find it. This makes sense though; I could see someone wanting the option to disable it. (I imagine most folks would want to _enable_ it.)

[2016-10-26 18:51] lorentrogers opened #307 "Highlighting items after tab"
When I click on a context that's not currently selected, there's no indication of where my current selection is in the list on the right. (I assume there is none?)

However, if I then press the `tab` key twice, the list is now in focus, but there is still no selection indication. If I press the down arrow key, I get a "half-highlighted" state on the first item, but commands do not work on it. Pres

[2016-10-26 18:54] lorentrogers opened #308 "Search selected w/o indication after tab"
This may be related to #307, but I managed to get into a state where the search box was focused but this was not indicated visually (blinking cursor, highlighted field).

Getting here is easy: click into the search box, then press tab.

[2016-10-27 15:49] oroulet commented on #307
Yes focused widget is not the same as selected. The best is usually to
stick to qt defaults, it is never perfect anyway. Try to find out if we do
special things with focus or selection...

On Wed, Oct 26, 2016, 20:51 Loren Rogers <notifications@github.com> wrote:

[2016-10-28 06:46] #305 closed

[2016-10-28 07:30] PKEv commented on #290
As an example, I use the library:
https://github.com/ColinDuquesnoy/QDarkStyleSheet
![default](https://cloud.githubusercontent.com/assets/6053197/19798397/7ebcc288-9cf9-11e6-8251-bfbfbbf6d2d8.PNG)

[2016-10-28 08:06] PKEv commented on #290
I think need to make a set of dark icons..

[2016-10-28 08:10] oroulet commented on #290
How do you set style for qt? Can we do it programmatically? Put it in
options?

On Fri, Oct 28, 2016, 10:06 PKEv <notifications@github.com> wrote:

[2016-10-28 08:17] PKEv commented on #290
All made according to the instructions in the library, add:
[code]
in app.py , before
[code]

[2016-10-28 08:19] oroulet commented on #290
Then we should add option for it.

On Fri, Oct 28, 2016, 10:17 PKEv <notifications@github.com> wrote:

[2016-10-28 08:35] PKEv commented on #290
We must then prepare a dark icons (now looks not very good), and it is desirable to deal with the problems of selection #307

[2016-10-28 12:08] PKEv commented on #290
in #119 the issue has been raised

[2016-10-28 12:57] oroulet commented on #290
I do not think we need to make a GUI. But just an option to load a CSS
file. Should be easy to do. Then maybe have another set of icons for dark
themes but that is more work...

On Fri, Oct 28, 2016, 14:11 PKEv <notifications@github.com> wrote:

[2016-10-28 14:52] lorentrogers commented on #305
Awesome--thanks!

[2016-10-28 14:55] lorentrogers commented on #290
@oroulet Agreed. I imagine this should be a simple CSS / icon swap. The issue will be pulling out all those hard-coded colors.

@PKEv could you put this into a PR that shows your changes?

[2016-10-28 16:36] #307 closed

[2016-10-28 21:11] PKEv commented on #290
@lorentrogers
to bring to the specified style, need settable specified package in the system, so I can not do PR - it is easier to do everything according to the instructions on the link

[2016-10-28 21:26] lorentrogers commented on #290
@PKEv Do you mean that you just installed the package on your system and made no change to QTodoTxt? (I assume not?)

Did you import it as a package? Did you add this line somewhere?

    app.setStyleSheet(qdarkstyle.load_stylesheet())

A PR would be helpful to see what changes you made to get it working in your code. Either that, or more info on how you made it work exactly.

[2016-10-28 22:03] PKEv commented on #290
@lorentrogers
look in my fork branch "try_darkstyle"
https://github.com/PKEv/QTodoTxt/tree/try_darkstyle
or
https://github.com/PKEv/QTodoTxt/commit/7532bf38c65a8c244cff85fde25ea93945e008c2

you must first install QDarkStyleSheet by :
[code]

[2016-10-29 01:57] lorentrogers opened #312 "More recent news?"
The news on http://qtodotxt.org/ hasn't been updated since 2014 -- is there something more recent we can put there? I assume info on the latest releases?

Alternatively, it may make most sense to scrap the news entirely from the site. If it won't get updated regularly, it'll only be confusing. Folks can still read the latest info on the project here.

[2016-10-29 02:00] oroulet commented on #312
If you can clean up that. It would be great. That kind of things is hard to
maintain.  we need to simplify

On Sat, Oct 29, 2016, 03:58 Loren Rogers <notifications@github.com> wrote:

[2016-10-29 04:24] lorentrogers opened #314 "Rows don't resize when squished"
A smaller one here, but something I noticed: when you've got a long todo entry, and you resize the window, the row for that entry stays the same height, no matter how wide the display area is. This is easy to see if you squish the view down, then change filters, then expand it back out. All the rows should be super big.

I'd expect the rows to adjust as the window is resized.

[2016-10-29 06:33] #312 closed

[2016-10-29 07:15] #303 closed

[2016-10-29 09:31] anacondaqq commented on #312
why download links about 1.4.0 version? Why not to upload latest one? For example from current build (29.10.2016) like: https://www.dropbox.com/s/36v9nsi6qblvp3k/qtodotxt_1.6.2_2016_10_29_GTD.exe?dl=0

[2016-10-29 11:18] oroulet commented on #312
Fell free to fix links. Or Even better, simplify things. Make link to
download page in github

On Sat, Oct 29, 2016, 11:31 anacondaqq <notifications@github.com> wrote:

[2016-10-29 23:36] #273 closed

[2016-10-30 01:26] lorentrogers commented on #312
@anacondaqq was there a link i missed? They should all be correct. If not, could you send a PR?

[2016-10-30 01:33] lorentrogers commented on #312
Aah - I remember why this was an issue. I don't think the Mac build has been updated. Or, at least, I couldn't find it. So I kept the version text at 1.4 and linked to the 1.6 deb and exe files.

It's probably easier if we just link right over to the download section of the readme, rather than maintaining it on the site.

[2016-10-30 01:34] lorentrogers opened #315 "Update the debian repo?"
Looks like 1.4 is the latest in the deb repo: http://dl.bintray.com/mnantern/deb/

Could we update this with the latest?

[2016-10-30 05:45] oroulet commented on #315
mnantern maintained that one. If he is not doing anything, we should just
remove the link

On Sun, Oct 30, 2016, 02:34 Loren Rogers <notifications@github.com> wrote:

[2016-10-30 15:17] lorentrogers commented on #315
Thinking about it, it probably makes more sense to have a shared account between the maintainers. I'll remove it for now, and if there's interest we could set up a new "QTodoTxt" account.

[2016-10-30 16:52] PKEv commented on #315
@mNantern can help?

[2016-10-30 17:30] oroulet commented on #315
I am not sure we need a repository anyway. As long as we dot not have any
complicated dependency

On Sun, Oct 30, 2016, 17:52 PKEv <notifications@github.com> wrote:

[2016-10-30 18:42] PKEv commented on #315
what about web service like: http://docs.drone.io/newproject.html ?

[2016-10-30 19:50] lorentrogers commented on #315
I agree that some form of CI would be useful. If we could have it maintain the debian repo on its own, that'd be great. (Another useful one is Hound: https://houndci.com/)

For now, would it make sense to just link to the github page, as I've done in #316 ?

[2016-10-30 19:55] PKEv commented on #315
@lorentrogers how i can see https://houndci.com can't deploy only comment

[2016-10-30 19:56] lorentrogers commented on #315
@PKEv it's just a code style checker. It doesn't deploy anything, but it's useful for maintaining a clean development repo. I figured I'd mention it, since we're talking about CI servers.

[2016-10-30 19:57] lorentrogers commented on #315
Hmm. Now that I look at the site again, it seems they don't support Python... Never mind!

[2016-10-31 00:27] anacondaqq commented on #167
After a lot of time working with different outliners, i wish to say -> don't need to implement any features like this. Because in 99% of cases such extra sub-task, sub-sub-subtasks only confusing, and not helping to work. Current 1 task per project / context list -> ideal solution.

[2016-10-31 00:28] #167 closed

[2016-10-31 16:26] lorentrogers opened #319 "Wishlist: sort options"
Everything is sorted by priority right now, but it would be nice to have the ability to sort in other ways. (E.g. by date created, context, order in file, etc.) The options on TodoTxt.net are really nice: https://github.com/benrhughes/todotxt.net#current-features

[2016-10-31 18:20] topas-rec commented on #319
I also thought about that.
I think having the highest priority on top is best for a organized working, but I think this would be a nice option.

[2016-10-31 18:54] oroulet commented on #319
This is true, the ordering is hard coded. We should fix that. Maybe we
should create a list of issues to fix for next release

On Mon, Oct 31, 2016, 19:20 topas-rec <notifications@github.com> wrote:

[2016-11-01 00:19] topas-rec commented on #319
Looks like we need to tag some issues with "next release" then generate the list.

[2016-11-01 00:21] topas-rec commented on #319
We could also prioritize the issues. Then everyone knows what to do next.

[2016-11-01 00:26] topas-rec commented on #255
+1 (looking forward to do it myself once a day)

[2016-11-01 00:42] topas-rec commented on #282
Just found this one here and I think many programs cannot be used without a full keyboard layout.  (Some special keys would be missing somewhere - no email without the @ symbol)
Is really every program responsible for supplying soft-keys that it needs? Why can't one download a software keyboard with which one could handle every missing key in all kind of software?
If this is true I would want to c

[2016-11-01 00:46] topas-rec commented on #271
+1

[2016-11-01 00:56] topas-rec commented on #282
I would also love a complete abstraction from todo.txt text format through the input dialog when creating a task. A part of this dialog could be the calendar picker in the way it is mentioned in #130.
Another part should be a tick list of already existing contexts (or a line for new ones). This dialog would also eliminate the need of a soft-@-button.

[2016-11-01 00:59] topas-rec commented on #130
GUI elements for all kind of task attributes (priority, projects and so on) should be there on the task entry dialog. This abstracts from the todo.txt format and makes the use of qtototxt more easier for new users.

[2016-11-01 07:47] PKEv commented on #57
implemented

[2016-11-01 07:47] #57 closed

[2016-11-01 07:50] #304 closed

[2016-11-01 07:52] #72 closed

[2016-11-01 17:59] lorentrogers opened #324 "Copy should pull current selection"
Pressing `Ctrl+C` should copy the currently selected todo item into the clipboard.

[2016-11-01 18:03] PKEv commented on #324
the name of issue does not match the content

[2016-11-01 19:40] lorentrogers commented on #324
Good point - updated.

[2016-11-01 20:50] PKEv commented on #324
duplicate  #150

[2016-11-01 21:03] #256 closed

[2016-11-01 21:05] #243 closed

[2016-11-02 02:19] lorentrogers commented on #324
Yaaay -- looks like it's handled.

[2016-11-02 02:19] #324 closed

[2016-11-02 20:43] lorentrogers opened #326 "Toggling completeness for a task scrolls selection out of view"
When you have a list that goes beyond the screen (there's a scroll bar), if you toggle completeness for something, it gets moved to the bottom of the list but the view does not follow. That is, you're still looking at the top of the list, but the selection has moved to the bottom.

[2016-11-03 22:31] lorentrogers opened #327 "Up/down with K/J mappings, like Vim"
Since it doesn't look like the K and J keys are mapped to anything, could we use them to move up / down in the list? Probably only makes sense when the list is in focus.

[2016-11-03 23:11] sttrebo opened #328 "Closing when deleting todo file"
running the latest QTodoTxt from the sources.
If you inadvertently delete your todo.txt file, QTodoTxt immediately closes.  This is a new issue, but I'm not sure which recent merge caused this to happen.  I believe it's only been the last couple of merges since it was working fine a couple of weeks ago.

[2016-11-03 23:45] PKEv commented on #328
I think it's #318
but it must show message, but not crashed
@sttrebo what is your system?
Write a sequence of actions

[2016-11-04 00:14] sttrebo commented on #328
windows7-64 system
running QTodoTxt from source
todo file located in my DropBox folder
open up my DropBox folder and delete todo.txt file
QTodoTxt window closes.  no message, no window, no nothing.  it just disapears

[2016-11-04 06:23] oroulet commented on #328
We can probably just add a try/except there and we will not crash. Looks
like qt crash if a there if an exception in a slot. Isn't it a new
behaviour? I did not see it before...

On Fri, Nov 4, 2016, 01:14 sttrebo <notifications@github.com> wrote:

[2016-11-07 08:55] #239 closed

[2016-11-07 13:08] #238 closed

[2016-11-07 13:09] #150 closed

[2016-11-07 13:09] #76 closed

[2016-11-07 13:14] #143 closed

[2016-11-07 13:15] #112 closed

[2016-11-07 21:47] PKEv commented on #269
what with your problem?

[2016-11-07 22:03] nh3oh commented on #269
I didn't find any solution
When enable system tray in preferences => show an empty cell in the tray (no icon)
the tray is working to create a new entry and it shows info when pointer is over
That's all !

[2016-11-07 22:18] PKEv commented on #269
This is very strange, I myself use debian canonical environment
I have no such problem
but here I found an interesting feature - not always picked up by the resources of the new resources for program updates - I have so for example not directly connected interface translation.
To get around this I had to go to the directory and run the application directly from a folder, usually I used link on the

[2016-11-07 22:21] PKEv commented on #269
certainly better to get the latest version of the application...

[2016-11-07 22:26] nh3oh commented on #269
OK, I will try the new package and be back to tell you if it fixes that

Thanks

[2016-11-07 22:46] nh3oh commented on #269
Please, the previous version was installed with .deb and GDebi  the new one has to be installed with pip installer.
So what I've to do uninstall fisrt and then pip ?

[2016-11-07 23:27] PKEv commented on #269
Yes, uninstall first.
The  deb now is very old

[2016-11-08 11:20] PKEv commented on #326
I can not repeat in windows 7 x64

[2016-11-08 12:32] #328 closed

[2016-11-08 12:32] #308 closed

[2016-11-09 02:52] lorentrogers commented on #326
Hmm. I'm using Debian 8 with i3 window manager.

[2016-11-09 13:43] xtotdam commented on #286
As soon as none of the above didn't work for me, this helped:
`apt-get install python3-dateutil`

[2016-11-09 13:53] PKEv commented on #286
everything according to the manual:
https://github.com/QTodoTxt/QTodoTxt/wiki

[2016-11-09 14:02] xtotdam commented on #286
Oh, what was I looking at? Thanks

[2016-11-09 14:27] PKEv commented on #290
@oroulet
please look:
https://github.com/PKEv/QTodoTxt/commit/43e32d0651d06a86b286384dc2d5eba115bdac94
https://github.com/PKEv/QTodoTxt/commit/73342084ead03f9d8d660aaa43ae74f48ec77438
Which style is more like it?

[2016-11-09 15:37] PKEv commented on #282
What about this?
![default](https://cloud.githubusercontent.com/assets/6053197/20143836/976038f4-a6ab-11e6-8e73-47b89a43473e.PNG)

[2016-11-09 16:24] oroulet commented on #282
My plan was to remove that dialog, not make it even bigger ;-).
You have done quite a lot of with lately, and I think that people doing the
work decide, but that change make me uncomfortable, there are very very
very few people needing such buttons...

On Wed, Nov 9, 2016, 16:37 PKEv <notifications@github.com> wrote:

[2016-11-09 19:51] PKEv commented on #282
What do you mean by disposal of this dialogue, I do not understand?

[2016-11-09 19:58] oroulet commented on #282
My plan was to remove that dialog, not make it even bigger ;-).
You have done quite a lot of work lately, and I think that people doing the
work decide, but that change make me uncomfortable, there are very very
very few people needing such buttons...
…

[2016-11-09 20:09] oroulet commented on #282
1) My goal is to remove this dialog. The edit/add can be done directly in
listview.
2) 99%of people do not need these buttons

On Wed, Nov 9, 2016, 20:51 PKEv <notifications@github.com> wrote:

[2016-11-09 21:05] PKEv commented on #290
dark blue:
![2016-11-10 00 03 00](https://cloud.githubusercontent.com/assets/6053197/20154596/8463465c-a6e1-11e6-948f-f2a0b8d9ad17.png)
or dark orange:
![2016-11-10 00 02 26](https://cloud.githubusercontent.com/assets/6053197/20154620/9bc83942-a6e1-11e6-834d-cd0b7b77d136.png)
It is necessary to adjust the backlight of tags in problems ...

[2016-11-09 21:22] PKEv commented on #326
Describe your action step by step, I tried on a system debian 8.6 canonical and can not repeat

[2016-11-09 21:30] PKEv commented on #182
you need move focus to tasksList and press "space"

[2016-11-09 21:33] PKEv commented on #282
In such a case, it may make the extended context menu for the input task field?

[2016-11-09 21:59] lorentrogers opened #337 "Delete function missing"
I'm running 1.6.2 on Arch linux with i3 window manager, and I'm not seeing the delete function for tasks. I remember pressing the delete key and having it ask if I want to remove the task. But I don't see it now. Was this removed?

[2016-11-09 23:50] lorentrogers commented on #326
Sure - here's how it happens:

1. open a todo.txt file with enough open entries to go beyond the bottom of the screen. (The scroll bar should have appeared on the right.)

2. Select the first item in the list with the mouse.

3. Click `x` and press `ok` to toggle it.

4. At this point, the toggled item (selected item) should be at the bottom of the list, out of sight.

5. Press `x` and `ok` again

[2016-11-10 05:45] oroulet commented on #290
Both look very good in my opinion. Can we ship with both?

On Wed, Nov 9, 2016, 22:05 PKEv <notifications@github.com> wrote:

[2016-11-10 05:47] oroulet commented on #337
Look at options. We changed back default, and need to make new t release

On Wed, Nov 9, 2016, 22:59 Loren Rogers <notifications@github.com> wrote:

[2016-11-10 05:49] oroulet commented on #326
Remembering the code, I think the issue exist. But I am not sure what the
behaviour should be. I think we should select the next, not completed,
item, not scroll down

On Thu, Nov 10, 2016, 00:50 Loren Rogers <notifications@github.com> wrote:

[2016-11-10 05:58] PKEv commented on #290
In principle it is possible, but need to play with the color of the text, now it turns out that something cannot be read when the cursor hover on it

[2016-11-10 06:49] oroulet commented on #290
As far as I remember the qt text fields do not support CSS, or they do?

On Thu, Nov 10, 2016, 06:58 PKEv <notifications@github.com> wrote:

[2016-11-10 07:52] PKEv commented on #290
for this used class TaskHtmlizer

[2016-11-10 08:41] topas-rec commented on #282
@oroulet Can you explain your point no 1 in your last comment?
How should the integration in the list view work?

[2016-11-10 08:49] topas-rec commented on #282
I love the way simple tasks abstracts from the text entry by providing small dialogs:

![tmp_5127-screenshot_20161110-094807-467235396](https://cloud.githubusercontent.com/assets/20391449/20170023/e99f3e6a-a72a-11e6-83af-5d957164bfb2.png)
![tmp_5127-screenshot_20161110-094828-580947680](https://cloud.githubusercontent.com/assets/20391449/20170036/f493453c-a72a-11e6-85b1-ac35ad9083f0.png)
![tmp_512

[2016-11-10 09:13] oroulet commented on #282
Such inline dialogs are no issue. We already have a dialog for completion.
But I would like not to use a floating dialog for editing, but use the
editor integrated in list view. From the ui design point of view it give a
cleaner interface with editing in context of other tasks

On Thu, Nov 10, 2016, 09:49 Topas <notifications@github.com> wrote:

[2016-11-10 09:43] oroulet commented on #290
Yes but all values are hard coded in that class...

On Thu, Nov 10, 2016, 08:52 PKEv <notifications@github.com> wrote:

for this used class TaskHtmlizer

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/QTodoTxt/QTodoTxt/issues/290#issuecomment-259623592>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/

[2016-11-10 11:36] topas-rec commented on #282
Do you mean something like inline editing?
I image working with your suggestion in the following way:
I just have a list of tasks on the right pane. I can change the priority of a single task if I click on the priority of that task. Then a drop-down menu opens and I can select the new priority.
In the same way there could be a drop-down for contexts or projects (allowing multiple selections)
Is th

[2016-11-10 11:40] topas-rec commented on #282
If so, sorting and detailed filtering also is possible by design because the single column list becomes a multiple column table.
(Assuming that in a table UI of Qt these features are present)

[2016-11-10 19:35] #290 closed

[2016-11-10 19:41] #302 closed

[2016-11-10 19:56] PKEv commented on #270
it has become possible, sufficient to adjust the image to the selected design style, according to the standard rules of CSS
At the moment, there are only files with modified styles for dark themes, but you can create a file named System.css and standard system theme is used (light) in which you can make adjustments to the size of the font

it would be nice if someone wrote a guide - I view of the

[2016-11-10 19:57] PKEv commented on #119
look  #270

[2016-11-10 19:58] PKEv commented on #119
closed via #338

[2016-11-10 19:58] #119 closed

[2016-11-10 20:00] PKEv commented on #337
@lorentrogers via the settings menu turned back?

[2016-11-10 20:04] PKEv commented on #269
@nh3oh the program began to work correctly?

[2016-11-10 21:09] #216 closed

[2016-11-10 23:55] sttrebo opened #341 "spelling (Preferences window)"
not a big issue, but in the preferences window, instanse should be instance.

[2016-11-11 05:24] lorentrogers commented on #337
Aha -- I remember this now. There's definitely a bug. We talked about making this the default back in #304. Looks like there's an initialization issue.

I'm running the git repo master branch (commit 565bb1d) from a fresh install of Arch linux. When I launched the application, the "enable delete" setting in the preferences was checked but the delete option was not being shown. I *un*checked it, th

[2016-11-11 05:31] lorentrogers commented on #290
Awesome! Glad to see that we now have dark theme options!

I'll see if I can work up some alternative themes and send them along as a separate PR.

[2016-11-11 05:37] lorentrogers commented on #326
That makes sense too. I feel like this may be related to the strange tabbing behavior I'm getting. I don't understand Qt enough to offer any ideas on what may be causing this, but I feel like it may be something to do with the way that focus is integrated with item selection in the list.

Honestly, it would be nice to toggle between both behaviors as a setting. (E.g. something like "Keep selection

[2016-11-11 05:38] lorentrogers commented on #326
Also, I can confirm that this issue applies to both Debian 8 and Arch.

[2016-11-11 08:22] #251 closed

[2016-11-11 08:22] #337 closed

[2016-11-11 09:17] oroulet opened #343 "new release?"
@PKEv (And others) have done so much good work, maybe it is time for a new release? any important bug left?

[2016-11-11 09:53] PKEv commented on #343
#341 necessarily ))

[2016-11-11 10:04] #66 closed

[2016-11-11 16:43] lorentrogers opened #347 "Light icons in dark theme"
With the dark themes enabled, the icons disappear against the background. We should have the ability to specify a light icon set for the dark themes, or use icons without transparent backgrounds.

![screenshot from 2016-11-11 11-41-02](https://cloud.githubusercontent.com/assets/1090824/20222629/0f4fb796-a804-11e6-90e0-0b4fb09599fb.png)

[2016-11-11 17:34] PKEv commented on #343
Now all icons are icons in bulk in the internal directory and with the advent of the theme processing  their number may increase. (#347)
I suggest to create another repository for working with icons, and in the application to connect the compiled resources.
At the same time leave css files separately to interested persons could easily make their own changes

[2016-11-11 19:27] oroulet commented on #343
@PKEv  I made you an owner of QTodoTxt group. You can now create new repositories, etc.
Welcome!

[2016-11-11 19:29] PKEv commented on #343
Thank you, I will try to do everything carefully ))

[2016-11-11 20:50] anacondaqq commented on #343
There some issues with building package:
[code]

When trying to import readline module, pip says this module not supported on windows.
[code]

As result, qtodotxt.exe impossible to run, and here is stdrr error:
[code]

### Technical Information
1. hash: 8b737fdeed66c6c9969ace6c2116a1646be150cc
2. win10 x64, clean, no viruses, anniversary update (latest)
3. WinPython-64bit-3.4.4.4Qt5

##### Extra S

[2016-11-12 14:05] #341 closed

[2016-11-12 14:06] #264 closed

[2016-11-12 15:02] nh3oh commented on #269
@PKEv

Hi, I installed  v1.6.2 from the zipfile into **~/.qtodotxt/QTodoTxt-1.6.2/....**

I ran it from the commande line

The program is working fairly well (I didn't try it a lot)
but the tray isn't working better => no icon shown

I'm thinking about to move all the files into **/usr/local/**
as (I think) it has to be done for apps installed out of the distro.
And edit the **qtodotxt.desktop** t

[2016-11-12 17:08] nh3oh commented on #269
Please, (just) for my knowledge :-)

In this post ( http://unix.stackexchange.com/a/11547 )

I've read :

So, should be clever to unzip qtodotxt.zip into **/opt**  than **/urs/local/**
assuming I'm meaning about an end-user  and  not about a dev/prober user like you.

[2016-11-13 11:17] xtotdam opened #350 "Minimal help inside the app will be useful"
One small menu entry right below "About", containing "Use it!" section from https://github.com/QTodoTxt/QTodoTxt/wiki will be extremely useful, at least to learn keyboard shortcuts etc.

[2016-11-14 10:35] PKEv commented on #347
What about this?
![default](https://cloud.githubusercontent.com/assets/6053197/20261521/31159cfc-aa6f-11e6-98c1-15904b818448.PNG)

[2016-11-14 10:36] PKEv commented on #347
@oroulet ?

[2016-11-14 10:48] oroulet commented on #347
Fine for me. I am not a designer..

On Mon, Nov 14, 2016, 11:36 PKEv <notifications@github.com> wrote:

[2016-11-14 14:26] PKEv opened #354 "The new task based on the current"
Do you need such a function?

[2016-11-14 14:30] PKEv commented on #282
What about the pop-up menu with the ability to:
installation of special characters: +, @, due:, t:
Formatting: <br>, <u>, <b>
???

[2016-11-14 17:40] lorentrogers commented on #347
Definitely an improvement!

[2016-11-14 17:52] oroulet commented on #282
If you really want it.... But make it an option....

On Mon, Nov 14, 2016, 15:30 PKEv <notifications@github.com> wrote:

[2016-11-14 18:57] #347 closed

[2016-11-14 19:11] topas-rec commented on #354
Is this function the same as requested in #145?

[2016-11-14 19:28] topas-rec commented on #282
Do you mind to have drop down menus for priority @PKEv instead of buttons? They can be filled with already used values.
I also could imagine to have them for:
- Context
- Project
And a calendar selector (http://doc.qt.io/qt-5/qml-qtquick-controls-calendar.html) would be nice to have for due and threshold.

As mentioned above I think this should work on the task list itself too (if we want to get r

[2016-11-14 19:51] oroulet commented on #282
But we already have completion, don't we? It is a kind of dynamic drop down
menu

On Mon, Nov 14, 2016, 20:28 Topas <notifications@github.com> wrote:

[2016-11-14 20:55] topas-rec commented on #282
Of course we have. I agree with you @oroulet. But to use it one has to know the special characters of the todo.txt format.
Inexperienced users might not be aware of these functions (contexts, due dates and ...).
If there were buttons or drop down menus the user would know there is something more than just an empty text line for a task name.
By having buttons the user is more guided through the pro

[2016-11-15 12:10] oroulet commented on #282
I agree that discoverability is an argument for having such buttons....

[2016-11-15 12:17] oroulet commented on #282
With inline editing, if you click on a task you get directly into edit mode and if one click on a key, you will get the floating popup we allready have to display possible alternatives. No extra colums.

I am really not sure where to place button to increase discoverability of syntax with + @ , due:, etc maybe create dynamically small buttons on the right side of editor field

[2016-11-15 12:56] #145 closed

[2016-11-15 12:57] #354 closed

[2016-11-15 12:58] oroulet commented on #272
https://github.com/QTodoTxt/QTodoTxt/commit/fcbc3e0afc8d98aa19d19348807014d19a4e8e0f

by mistake I commited directly to master.... but at least now we have that possibility

[2016-11-15 13:07] oroulet opened #357 "update screenshot in readme"
@PKEv I think it is time to update main screenshot in README with your nice black/orange themes and all fixes